%h2 File Groups
%div #{link_to 'Add File Group', new_file_group_path(:collection_id => @collection.id)}
%div
  %table#file_groups
    %tr
      %th File location
      %th File format
      %th Total file size (GB)
      %th Total files
      %th Last access date
      %th
    - @collection.file_groups.each do |file_group|
      %tr
        %td #{file_group.file_location}
        %td #{file_group.file_format}
        %td #{file_group.total_file_size}
        %td #{file_group.total_files}
        %td #{file_group.last_access_date}
        %td
          = link_to 'View', file_group_path(file_group)
          |
          = link_to 'Delete', file_group_path(file_group), :method => :delete, :data => {:confirm => 'This is irreversible - are you sure?'}

