%h2 File Groups

= link_to 'Add File Group', new_file_group_path(:collection_id => @collection.id), :class => 'btn btn-primary btn-mini'

- if @collection.file_groups.present?
  %table#file_groups.table.table-striped
    %thead
      %tr
        %th Id
        %th Name
        %th Storage Level
        %th Type
        %th Producer
        %th Total files
        %th Total file size (GB)
        %th Actions
    %tbody
      - @collection.file_groups.each do |file_group|
        %tr
          %td #{file_group.id}
          %td #{link_to file_group.name, file_group_path(file_group)}
          %td #{file_group.storage_level}
          %td #{file_group.file_type_name}
          %td #{link_to(file_group.producer.title, file_group.producer) if file_group.producer}
          %td #{file_group.total_files}
          %td #{file_group.total_file_size}
          %td
            .event-actions
              %strong Events:
              = link_to 'View All', events_file_group_path(file_group)
              |
              = link_to 'Add New', "#add-event-file-group-#{file_group.id}", 'data-toggle' => 'modal', :role => 'button'
              = render 'add_event_to_file_group_form', :file_group => file_group
            .assessment-actions
              %strong Assessments:
              = link_to 'View All', file_group_path(file_group)
              |
              = link_to 'Add New', new_assessment_path(:assessable_id => file_group.id, :assessable_type => file_group.class.name)