= simple_form_for @collection, :html => { :class => 'form-horizontal' } do |f|
  .row
    = render 'sidebar'

    .span9
      %section#required
        %div.page-header
          %h1 Required Information
        = f.input :title, :input_html => {:class => "span4" }
        = f.association :repository, :collection => repository_select_collection, :include_blank => false, :selected => @repository.id
      %section#about
        %div.page-header
          %h1 About this Collection
        = f.input :description, :input_html => { :rows => 2 }
        = f.input :private_description, :input_html => {:rows => 2}
        = f.input :start_date, :as => :string, :input_html => { 'data-datepicker' => 'datepicker' }, :order => [:day, :month, :year], :use_month_numbers => true, :prepend => "$"
        = f.input :end_date, :as => :string, :input_html => { 'data-datepicker' => 'datepicker' }, :order => [:day, :month, :year], :use_month_numbers => true
        = f.input :contact_net_id, :label => 'Contact Person Net ID'
        = f.association :access_systems, :collection => access_system_select_collection, :html => {:multiple => true}, :as => :check_boxes
        = f.input :access_url, :as => :string, :label => 'Access URL'
        = f.association :preservation_priority, :include_blank => false, :selected => (@collection.preservation_priority.id rescue PreservationPriority.default.id)
      %section#content
        %div.page-header
          %h1 About the Content
        = f.input :file_package_summary, :input_html => { :rows => 2 }
        = f.association :resource_types, :as => :check_boxes, :wrapper_html => {:id => 'collection_resource_types'}
      %section#rights
        %div.page-header
          %h1 Rights
        = f.input :rights_statement, :input_html => { :rows => 2 }
        = f.input :rights_restrictions, :input_html => { :rows => 2 }
        %div.page-header
          %h1 Rights declaration
        = render :partial => 'rights_declarations/nested_form', :locals => {:containing_form => f, :rights_declaration => @collection.rights_declaration}
      %section#notes
        %div.page-header
          %h1 Notes
        = f.input :notes, :input_html => { :rows => 3 }

      .form-actions.span6
        = f.button :submit, :class => 'btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), collections_path, :class => 'btn'
        = link_to("Edit Ingest status", '#editIngestStatusModal', :role => 'button', 'data-toggle' => 'modal', :class => 'btn btn-primary pull-right') if @collection.ingest_status

- if @collection.ingest_status
  = render 'ingest_status_subform'
