= simple_form_for @collection, :html => { :class => 'form-horizontal' } do |f|
  .row
    = render :partial => 'sidebar', :locals => {:form => f}
    .span9
      .tabbable
        = render :partial => 'shared/tab_header', :locals => {:id => 'edit-tabs', :tabs => collection_form_tab_list}
        .tab-content
          #required.tab-pane.active
            = f.input :title, :input_html => {:class => "span4" }
            = f.association :repository, :collection => repository_select_collection, :include_blank => false, :selected => @repository.id
          #about.tab-pane
            = f.input :start_date, date_picker_options
            = f.input :end_date, date_picker_options
            = f.input :contact_net_id, :label => 'Contact Person Net ID'
            = f.association :access_systems, :collection => access_system_select_collection, :html => {:multiple => true}, :as => :check_boxes
            = f.input :access_url, :as => :string, :label => 'Access URL'
            = f.association :preservation_priority, :include_blank => false, :selected => (@collection.preservation_priority.id rescue PreservationPriority.default.id)
          #descriptions.tab-pane
            = f.input :description
            = f.input :private_description
          #content.tab-pane
            = f.input :file_package_summary
            = f.association :resource_types, :as => :check_boxes, :wrapper_html => {:id => 'collection_resource_types'}
          #rights.tab-pane
            = render :partial => 'rights_declarations/nested_form', :locals => {:containing_form => f, :rights_declaration => @collection.rights_declaration}
          #notes.tab-pane
            = f.input :notes
