= simple_form_for @collection, :html => { :class => 'form-horizontal' } do |f|
  .row
    .span8
      = f.input :title, :input_html => {:class => "span6" }
    .span4
      = f.association :repository, :collection => repository_select_collection, :include_blank => false, :selected => @repository.id
      = f.input :start_date, :as => :string, :input_html => { 'data-datepicker' => 'datepicker' }, :order => [:day, :month, :year], :use_month_numbers => true, :prepend => "$"
      = f.input :end_date, :as => :string, :input_html => { 'data-datepicker' => 'datepicker' }, :order => [:day, :month, :year], :use_month_numbers => true
      = f.input :contact_net_id, :label => 'Contact Person Net ID'
      = f.association :access_systems, :collection => access_system_select_collection, :html => {:multiple => true}
      = f.input :access_url, :as => :string, :label => 'Access URL'
      = f.input :content_type_id, :collection => content_type_select_collection
      = f.association :object_types, :as => :check_boxes, :wrapper_html => {:id => 'collection_object_types'}
    .span4
      = f.input :description, :input_html => { :rows => 2 }
      = f.input :file_package_summary, :input_html => { :rows => 2 }
      = f.input :rights_statement, :input_html => { :rows => 2 }
      = f.input :rights_restrictions, :input_html => { :rows => 2 }

      = f.input :notes, :input_html => { :rows => 3 }

    .form-actions.span8
      = f.button :submit, :class => 'btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), collections_path, :class => 'btn'

%strong New Object Type
= simple_form_for ObjectType.new, :url => new_object_type_collections_path(:format => :json), :method => :post, :remote => true  do |f|
  = f.input :name
  = f.button :submit