= simple_form_for @collection, :html => { :class => 'form-horizontal' } do |f|
  .row
    .span8
      = f.input :title, :input_html => {:class => "span6" }
    .span4
      = f.input :start_date, :as => :string, :input_html => { 'data-datepicker' => 'datepicker' }, :order => [:day, :month, :year], :use_month_numbers => true, :prepend => "$"
      = f.input :end_date, :as => :string, :input_html => { 'data-datepicker' => 'datepicker' }, :order => [:day, :month, :year], :use_month_numbers => true
      = f.input :contact_net_id, :label => 'Contact Person Net ID'
      = f.association :access_systems, :collection => access_system_select_collection, :html => {:multiple => true}
      = f.input :access_url, :as => :string, :label => 'Access URL'
      = f.input :content_type_id, :collection => content_type_select_collection
    .span4
      = f.input :description, :input_html => { :rows => 2 }
      = f.input :file_package_summary, :input_html => { :rows => 2 }
      = f.input :rights_statement, :input_html => { :rows => 2 }
      = f.input :rights_restrictions, :input_html => { :rows => 2 }

      = f.input :notes, :input_html => { :rows => 3 }
      = f.input :repository_id, :as => :hidden, :input_html => {:value => @repository.id}

    .form-actions.span8
      = f.button :submit, :class => 'btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), collections_path, :class => 'btn'
