.row.vertical-align
  .col-xs-6
    = render layout: 'layouts/page_header' do
      - if content_for?(:title)
        = yield(:title)
      - else
        Collection:
      %small #{@collection.title}
  .col-xs-6
    .btn-toolbar.pull-right
      .btn-group
        - if @collection.public? and public_view_on?
          = link_to 'Public View', public_collection_path(@collection), class: 'btn btn-default'
        = assessments_button(assessments_collection_path(@collection))
        = events_button(events_collection_path(@collection))
        = red_flags_button(red_flags_collection_path(@collection))
        = attachments_button(attachments_collection_path(@collection))
        .btn-group
          %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            Export
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'XML (MODS)', collection_path(@collection, format: :xml)
            %li= link_to 'JSON', collection_path(@collection, format: :json)
        = link_to 'Add Project', new_project_path(collection_id: @collection.id), class: 'btn btn-primary'
        = edit_button(@collection)
      - if content_for?(:extra_links)
        .btn-group
          = yield(:extra_links)

= yield