= show_value (@collection.publish ? 'Yes' : 'No'), 'Open collection metadata to public list of collections'
= show_field @collection, :description_html, 'Description'
= show_value link_to_external(@collection.access_url, @collection.access_url), 'Access link (to digital content in another system)'
= show_value link_to_external(@collection.physical_collection_url, @collection.physical_collection_url), 'Physical Collection link (finding aid or catalog record)'
= show_field @collection, :resource_type_names, 'Type of Resource'
= show_field @collection, :external_id, 'External ID'
= show_field @collection, :representative_image
= show_field @collection, :representative_item
.show-value
  %strong Access Systems:
  %br
  - if access_systems = @collection.access_systems
    %ul#access_systems
      - access_systems.each do |access_system|
        %li #{link_to access_system.name, access_system}