- model_class = Collection
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
  - if @subheader
    %p= @subheader

%table#collections.table.table-striped
  %thead
    %tr
      %th Title
      %th Repository
      %th Contact
      %th Total Size (GB)
      %th Preservation Priority
      %th
  %tbody
    - @collections.each do |collection|
      %tr
        %td #{link_to collection.title, collection}
        %td #{link_to collection.repository.title, collection.repository}
        %td #{net_id_search_link(collection.contact_net_id)}
        %td #{number_with_precision(collection.total_size, precision: 3)}
        %td #{collection.preservation_priority_name}
        %td
          = link_to t('.edit', :default => t('helpers.links.edit')), edit_collection_path(collection), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t('helpers.links.destroy')), collection_path(collection), :method => :delete, :data => {:confirm => collection_confirm_message}, :class => 'btn btn-mini btn-danger'

%br

= link_to 'Add Collection', new_collection_path, :class => 'btn btn-primary'