= render layout: 'layouts/page_header' do
  Collections

= link_to 'Add Collection', new_collection_path, class: 'btn btn-primary'
= link_to(collections_path(format: 'csv'), class: 'btn btn-default') do
  %span.glyphicon.glyphicon-export
  Export as CSV

= render 'index_table'

%br

= link_to 'Add Collection', new_collection_path, class: 'btn btn-primary'