%div #{link_to @collection.repository.title, @collection.repository} > #{@collection.title}
%br
- cache(@collection) do
  %h1.text-center= @collection.title
  .tabbable
    .btn-group.pull-right
      - if @collection.public?
        = link_to 'Public View', public_collection_path(@collection), class: 'btn btn-default'
      = red_flags_button(red_flags_collection_path(@collection))
      = events_button(events_collection_path(@collection))
      = link_to 'Mods', collection_path(@collection, format: :xml), class: 'btn btn-default'
      = edit_button(@collection)
      = delete_button(@collection, message: collection_confirm_message)
    - if logged_in?
      = render 'show_tabs_logged_in'
    - else
      = render 'show_tabs_not_logged_in'
