<p id="notice"><%= notice %></p>

<p>
  <b>Repository:</b>
  <%= @collection.repository_id %>
</p>

<p>
  <b>Title:</b>
  <%= @collection.title %>
</p>

<p>
  <b>Start date:</b>
  <%= @collection.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @collection.end_date %>
</p>

<p>
  <b>Published:</b>
  <%= @collection.published %>
</p>

<p>
  <b>Ongoing:</b>
  <%= @collection.ongoing %>
</p>

<p>
  <b>Description:</b>
  <%= @collection.description %>
</p>

<p>
  <b>Access url:</b>
  <%= @collection.access_url %>
</p>

<p>
  <b>File package summary:</b>
  <%= @collection.file_package_summary %>
</p>

<p>
  <b>Rights statement:</b>
  <%= @collection.rights_statement %>
</p>

<p>
  <b>Rights restrictions:</b>
  <%= @collection.rights_restrictions %>
</p>

<p>
  <b>Notes:</b>
  <%= @collection.notes %>
</p>


<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
