- model_class = Collection

.pull-right
  = link_to "Back", collections_path, :class => 'btn'
  = link_to "Edit", edit_collection_path(@collection), :class => 'btn'
  = link_to "Delete Collection", collection_path(@collection), :method => "delete", :data => { :confirm => 'This is irreversible - are you sure?'}, :class => 'btn btn-danger'

.page-header
  %h1 #{@collection.title}
  %p.lead Repository: #{link_to @collection.repository.title, @collection.repository}

%dl.dl-horizontal
  %dt= 'Start Date:'
  %dd= @collection.start_date
  %dt= 'End Date:'
  %dd= @collection.end_date
  %dt
    = 'Contact Person'
    %br
    = 'NetID:'
  %dd= @collection.contact_id
  %dt= 'Access Systems:'
  %dd
    - if access_systems = @collection.access_systems
      %ul#access_systems
        - access_systems.each do |access_system|
          %li #{link_to access_system.name, access_system}

  %dt= 'Content Type:'
  %dd= @collection.content_type.try(:name)
  %dt= 'Description:'
  %dd= @collection.description
  %dt= 'Access URL:'
  %dd= @collection.access_url
  %dt
    = 'File Package'
    %br
    = 'Summary:'
  %dd= @collection.file_package_summary
  %dt
    = 'Rights '
    %br
    = 'Statement:'
  %dd= @collection.rights_statement
  %dt
    = 'Rights '
    %br
    = 'Restrictions:'
  %dd= @collection.rights_restrictions
  %dt= 'Notes:'
  %dd= @collection.notes



= render 'assessments_table'

= render 'file_groups_table'