%div= link_to @collection.title, collection_path(@collection)
%div= directory_breadcrumbs(@path, @directory)
%hr
%h2 Subdirectories
%table#subdirectories.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    - @directory.children.each do |child|
      %tr
        %td= link_to child.name, directory_path(child)
%hr
%h2 Files
%table#files.table.table-striped
  %thead
    %tr
      %th Name
      %th Size
      %th Type
      %th MD5
      %th UUID
      %th Ingested
  %tbody
    - @directory.bit_files.each do |file|
      %tr
        %td= file.name
        %td= file.size
        %td= file.content_type
        %td= file.md5sum
        %td= file.dx_name
        %td= file.dx_ingested
%hr
%h2 Cumulative File Sizes
%table#cumulative_file_sizes.table.table-striped
  %thead
    %tr
      %th Collection
      %th This directory and all subdirectories
      %th This directory only
  %tbody
    %tr
      %td= @directory.root_file_size
      %td= @directory.recursive_file_size
      %td= @directory.owned_file_size
