- model_class = ProductionUnit
.page-header
  %h1= t('.title', :default => model_class.model_name.human.pluralize)

%table.table.table-striped#production_units
  %thead
    %tr
      %th Title
      %th Administrator
      %th URL
      %th
  %tbody
  - @production_units.each do |production_unit|
    %tr
      %td #{link_to production_unit.title, production_unit}
      %td #{net_id_search_link(production_unit.administrator_net_id)}
      %td #{link_to_external production_unit.url, production_unit.url}
      %td
        = link_to 'Edit', edit_production_unit_path(production_unit), :class => 'btn btn-mini'
        = link_to 'Delete', production_unit, :method => :delete, :data => {:confirm => 'This is irreversible - are you sure?'}, :class => 'btn btn-mini btn-danger'

= link_to 'New Production Unit', new_production_unit_path, :class => 'btn btn-primary'
