%h2 #{@production_unit.title}
%div #{link_to 'Index', production_units_path} | #{link_to 'Edit', edit_production_unit_path(@production_unit)}
%div
  %div Administrator Net ID: #{@production_unit.administrator_net_id  }
  %div Address 1: #{@production_unit.address_1}
  %div Address 2: #{@production_unit.address_2}
  %div City: #{@production_unit.city}
  %div State: #{@production_unit.state}
  %div Zip: #{@production_unit.zip}
  %div Phone number: #{@production_unit.phone_number}
  %div Email: #{@production_unit.email}
  %div Url: #{link_to @production_unit.url, @production_unit.url}
  %div Notes:
  %div #{@production_unit.notes}
  %div #{button_to 'Delete Production Unit', @production_unit, :method => :delete, :data => {:confirm => 'This is irreversible - are you sure?'}}
