.pull-right
  = link_to 'Back', production_units_path, :class => 'btn'
  = link_to 'Edit', edit_production_unit_path(@production_unit), :class => 'btn'
  = link_to 'Delete Production Unit', @production_unit, :method => :delete, :data => {:confirm => generic_confirm_message}, :class => 'btn btn-danger'

.page-header
  %h1 #{@production_unit.title}

.row
  .span8
    = show_value net_id_search_link(@production_unit.administrator_net_id), 'Administrator Net ID'
    = show_field @production_unit, :address_1
    = show_field @production_unit, :address_2
    = show_field @production_unit, :city
    = show_field @production_unit, :state
    = show_field @production_unit, :zip
    = show_field @production_unit, :phone_number
    = show_field @production_unit, :email
    = show_value link_to_external(@production_unit.url, @production_unit.url), 'URL'
    = show_field @production_unit, :active_start_date, 'Active Start Date'
    = show_field @production_unit, :active_end_date, 'Active End Date'
    = show_field @production_unit, :notes_html, 'Notes'
