%h2
  Assessments
  = link_to 'Add Assessment', new_assessment_path(:assessable_id => @assessable.id, :assessable_type => @assessable.class.name), :class => 'btn btn-primary btn-mini pull-right'

- if @assessments.present?
  %table#assessments.table.table-striped
    %thead
      %tr
        %th Name
        %th For
        %th Type
        %th Date
        %th Author
        %th
    %tbody
      - @assessments.each do |assessment|
        %tr
          %td #{link_to assessment.name, assessment}
          %td #{link_to assessment.assessable.assessable_label, assessment.assessable}
          %td #{assessment.assessable.class.to_s.underscore.humanize}
          %td #{assessment.date}
          %td #{assessment.author_net_id}
          %td
            = link_to 'View', assessment, :class => 'btn btn-mini'
            = link_to 'Edit', edit_assessment_path(assessment), :class => 'btn btn-mini'
            = link_to 'Delete', assessment, :method => :delete, :data => {:confirm => generic_confirm_message}, :class => 'btn btn-mini btn-danger'