.pull-right
  = link_to 'Edit', edit_assessment_path(@assessment), class: 'btn btn-default'
  = fa_icon_link_to 'Delete', 'trash-o', @assessment, method: :delete, data: {confirm: generic_confirm_message}, class: 'btn btn-danger'

- content_for(:page_header_extra) do
  %p.lead #{@assessable.class.name}: #{link_to(@assessable.label, @assessable)}
= render layout: 'layouts/page_header' do
  Assessment: #{@assessment.date}

.row
  .col-sm-8
    .well
      = show_field @assessment, :author_email
      = show_field @assessment, :name
      = show_field @assessment, :assessment_type, 'Type'
      = show_field @assessment, :last_access_date
      = show_field @assessment, :storage_medium_name
      = show_field @assessment, :file_format
      = show_value "#{@assessment.total_file_size} GB", 'Total file size'
      = show_field @assessment, :total_files
      = show_field @assessment, :directory_structure_html, 'Directory Structure'
      = show_field @assessment, :preservation_risk_level, 'Risk Level'
      = show_field @assessment, :preservation_risks_html, 'Preservation Risks'
      = show_field @assessment, :naming_conventions_html, 'Naming Conventions'
      = show_field @assessment, :notes_html, 'Notes'
