.pull-right
  = link_to 'Edit', edit_assessment_path(@assessment), :class => 'btn'
  = link_to 'Delete', @assessment, :method => :delete, :data => {:confirm => generic_confirm_message}, :class => 'btn btn-danger'

.page-header
  %h1 Assessment: #{@assessment.date}
  %p.lead #{@assessable.class.name}: #{link_to(@assessable.assessable_label, @assessable) rescue link_to(@assessable.assessable_label, file_group_path(@assessable))}

.row
  .span8
    .well
      = show_value net_id_search_link(@assessment.author_net_id), 'Author Net ID'
      = show_field @assessment, :name
      = show_field @assessment, :assessment_type, 'Type'
      = show_field @assessment, :last_access_date
      = show_field @assessment, :storage_medium_name
      = show_field @assessment, :file_format
      = show_value "#{@assessment.total_file_size} GB", 'Total file size'
      = show_field @assessment, :total_files
      = show_field @assessment, :directory_structure_html, 'Directory Structure'
      = show_field @assessment, :preservation_risk_level, 'Risk Level'
      = show_field @assessment, :preservation_risks_html, 'Preservation Risks'
      = show_field @assessment, :naming_conventions_html, 'Naming Conventions'
      = show_field @assessment, :notes_html, 'Notes'
