.row
  = simple_form_for @institution, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
    .col-sm-12
      = f.input :name
    .form-actions.col-sm-12
      = submit_button_2(f)
      = cancel_and_go_to_button(institutions_path)
      - unless @institution.new_record?
        = delete_button(@institution)
