.btn-group.pull-right
  = primary_button('Create Repository', new_repository_path(institution_id: @institution.id))
  = edit_button(@institution)

%h1.text_center= @institution.name

%br

#about
  .well
    = show_field @institution, :name

%h2 Repositories

= render 'repositories/table'