%h3
  - now = Time.now.strftime('%m/%d/%Y, %I:%M:%S%P %Z')
  File Statistics (as of #{now})
.row
  .col-sm-6
    %table.table.table-striped.table-bordered.table-condensed#file_stats_content_type
      %thead
        %tr
          %th File Format
          %th Number of Files
          %th Size
      - cache(cache_key_for_all(FileGroup)) do
        %tbody
          - ContentType.order(:name).each do |content_type|
            %tr
              %td= link_to content_type.name, cfs_files_content_type_path(content_type)
              %td= content_type.cfs_file_count.to_formatted_s(:delimited)
              %td{'data-order' => content_type.cfs_file_size}= content_type.cfs_file_size.to_formatted_s(:human_size, precision: 3)

  .col-sm-6
    %table.table.table-striped.table-bordered.table-condensed#file_stats_file_extension
      %thead
        %tr
          %th File Extension
          %th Number of Files
          %th Size
      - cache(cache_key_for_all(FileGroup)) do
        %tbody
          - FileExtension.order(:extension).each do |extension|
            %tr
              %td= link_to extension.extension, cfs_files_file_extension_path(extension)
              %td= extension.cfs_file_count.to_formatted_s(:delimited)
              %td{'data-order' => extension.cfs_file_size}= extension.cfs_file_size.to_formatted_s(:human_size, precision: 3)

.row
  .col-sm-12
    %table.table.table-condensed#file_stats_summary
      %tr
        %th{colspan: 2}
          Total Bit Preservation Files:
        %td= @full_storage_summary['BitLevelFileGroup'][:count].to_s(:delimited)
        %td

        %th{colspan: 2}
          Total Object Preservation Files:
        %td= file_count_objects_total.to_formatted_s(:delimited)

      %tr
        %th{colspan: 2}
          Total Bit Preservation Size:
        %td= (@full_storage_summary['BitLevelFileGroup'][:size] * 1.gigabyte).to_formatted_s(:human_size, precision: 3)
        %td

        %th{colspan: 2}
          Total Object Preservation Size:
        %td= size_objects_total.to_formatted_s(:human_size, precision: 3)
