%h3
  - now = Time.now.strftime('%m/%d/%Y, %I:%M:%S%P %Z')
  File Statistics (as of #{now})
.row
  .col-sm-6
    %table.table.table-striped.table-bordered.table-condensed#file_stats_bits
      %thead
        %tr
          %th{colspan: 3}
            Bits
        %tr
          %th File Format
          %th Number of Files
          %th Size
      - cache(cache_key_for_all(FileGroup)) do
        %tbody
          - ContentType.order(:name).each do |content_type|
            %tr
              %td= link_to content_type.name, cfs_files_content_type_path(content_type)
              %td= content_type.cfs_file_count.to_formatted_s(:delimited)
              %td{'data-order' => content_type.cfs_file_size}= content_type.cfs_file_size.to_formatted_s(:human_size, precision: 3)

  .col-sm-6
    %table.table.table-striped.table-bordered.table-condensed#file_stats_objects
      %thead
        %tr
          %th{colspan: 3}
            Objects
        %tr
          %th File Format
          %th Number of Files
          %th Size
      %tbody
        - list_of_object_file_formats.each do |content_type|
          %tr
            %td= content_type
            %td= file_count_objects_type_format(content_type).to_formatted_s(:delimited)
            -# This will need a data-order attribute when we implement it
            %td= size_objects_type_format(content_type).to_formatted_s(:delimited)

.row
  .col-sm-12
    %table.table.table-condensed#file_stats_summary
      %tr
        %th{colspan: 2}
          Total Bit Preservation Files:
        %td= @full_storage_summary['BitLevelFileGroup'][:count].to_s(:delimited)
        %td

        %th{colspan: 2}
          Total Object Preservation Files:
        %td= file_count_objects_total.to_formatted_s(:delimited)

      %tr
        %th{colspan: 2}
          Total Bit Preservation Size:
        %td= (@full_storage_summary['BitLevelFileGroup'][:size] * 1.gigabyte).to_formatted_s(:human_size, precision: 3)
        %td

        %th{colspan: 2}
          Total Object Preservation Size:
        %td= size_objects_total.to_formatted_s(:human_size, precision: 3)
