- if Delayed::Job.where('failed_at IS NOT NULL').count > 0
  %h3 #{Delayed::Job.where('failed_at IS NOT NULL').count} delayed jobs have failed
  %p Please contact the development staff to diagnose

%h3 Virus Scans
%table.table.table-striped#running_virus_scans
  %thead
    %tr
      %th File Group
      %th Created
  %tbody
    - Job::VirusScan.all.each do |virus_scan_job|
      %tr
        %td= link_to virus_scan_job.file_group.name, polymorphic_path(virus_scan_job.file_group)
        %td= link_to virus_scan_job.created_at.to_date.to_s

%h3 FITS Scans
%table.table.table-striped#running_fits_scans
  %thead
    %tr
      %th Path
      %th File Group
      %th Files remaining
  %tbody
    - BitLevelFileGroup.all.each do |file_group|
      - if file_group.cfs_directory.present? and file_group.job_fits_directories.count > 0
        %tr
          %td= file_group.cfs_directory.relative_path
          %td= link_to(file_group.name, polymorphic_path(file_group))
          %td= file_group.running_fits_file_count

%h3 Initial Assessment Scans
%table.table.table-striped#running_initial_assessment_scans
  %thead
    %tr
      %th Path
      %th File Group
      %th Files remaining
  %tbody
    - BitLevelFileGroup.all.each do |file_group|
      - if file_group.cfs_directory.present? and file_group.job_cfs_initial_directory_assessments.count > 0
        %tr
          %td= file_group.cfs_directory.relative_path
          %td= link_to(file_group.name, polymorphic_path(file_group))
          %td= file_group.running_initial_assessments_file_count


