.row
  .span12
    %table.container.span3
      %caption DX-Storage
      %thead
        %tr
          %th state
          %th size(GB)
      %tbody
        %tr
          %td Bit level store(ingested)
          %td.value= number_with_precision(@storage["bit_level_ingested"], :precision => 2)
        %tr
          %td Bit level store(total)
          %td.value= number_with_precision(@storage["bit_level_total"], :precision => 2)
        %tr
          %td Object level store
          %td.value= number_with_precision(@storage["object_level_total"], :precision => 2)
        %tr
          %td Free space
          %td.value= number_with_precision(@storage["free"], :precision => 2)
    .span3
      %div#chart_container1.chart_container

:javascript
  var storage_overview = #{@storage.to_json};
.row
  .span12
    %table#external-storage-overview.table.table-striped
      %caption External Storage Summary
      %thead
        %tr
          %th Repository
          %th Total Files
          %th Size (GB)
      %tbody
        - @external_storage_summary.each do |summary|
          %tr
            %td= link_to summary[:repository].title, summary[:repository]
            %td= summary[:file_count]
            %td= number_with_precision(summary[:size], precision: 1)
        %tr
          %td
            %strong Totals:
          %td= @external_storage_summary.collect{|summary| summary[:file_count]}.sum
          %td= number_with_precision(@external_storage_summary.collect{|summary| summary[:size]}.sum, precision: 1)