.row
  .span12
    %table.container.span3
      %caption Storage
      %thead
        %tr
          %th state
          %th size(GB)
          %th files
      %tbody
        %tr
          %td External (total)
          %td.value= number_with_precision(@storage_summary.collect{|summary| summary[:external_size]}.sum, precision: 1)
          %td.value= @storage_summary.collect{|summary| summary[:external_file_count]}.sum
        %tr
          %td External (not ingested)
          %td.value= number_with_precision(@storage_summary.collect{|summary| summary[:uningested_size]}.sum, precision: 1)
          %td.value= @storage_summary.collect{|summary| summary[:uningested_file_count]}.sum
        %tr
          %td Bit Level
          %td.value= number_with_precision(CfsFile.sum(:size) / 1.gigabyte, precision: 3)
          %td.value= CfsFile.count

.row
  .span12
    %table#storage-overview.table.table-striped
      %caption Storage Summary
      %thead
        %tr
          %th Repository
          %th External Files
          %th External Size (GB)
          %th Bit Level Files
          %th Bit Level Size (GB)
      %tbody
        - @storage_summary.each do |summary|
          %tr
            %td= link_to summary[:repository].title, summary[:repository]
            %td= summary[:external_file_count]
            %td= number_with_precision(summary[:external_size], precision: 3)
            %td= summary[:bit_level_file_count]
            %td= number_with_precision(summary[:bit_level_file_size], precision: 3)