.row
  .span3
    %table.container
      %caption DX-Storage
      %thead
        %tr
          %th state
          %th size(GB)
      %tbody
        %tr
          %td Bit level store(ingested)
          %td.value= @storage["bit_level_ingested"]
        %tr
          %td Bit level store(total)
          %td.value= @storage["bit_level_total"]
        %tr
          %td Object level store
          %td.value= @storage["object_level_total"]
        %tr
          %td Free space
          %td.value= @storage["free"]
  .span3
    %div#chart_container1.chart_container
  .span3
    %table.container
      %caption Other Storage Target
      %thead
        %tr
          %th state
          %th size(GB)
      %tbody
        %tr
          %td Bit level store(ingested)
          %td.value TBD
        %tr
          %td Bit level store(total)
          %td.value TBD
        %tr
          %td Object level store
          %td.value TBD
        %tr
          %td Free space
          %td.value TBD
  .span3
    %div#chart_container2.chart_container
:javascript
  var storage_overview = #{@storage.to_json};