.pull-right= link_to fa_icon('random'), random_cfs_files_path, class: 'btn btn-default', title: 'Random File'
.tabbable
  = render partial: 'shared/tab_header', locals: {id: 'tab-headers', tabs: dashboard_tab_list}
  .tab-content
    #storage-overview.tab-pane.active
      = render 'storage_overview'
    #running-processes.tab-pane
      = render partial: 'shared_js/simple_load', locals: {id: 'running-processes', path: running_processes_dashboard_path}
    #file-statistics.tab-pane
      = render partial: 'shared_js/datatables_load', locals: {id: 'file-statistics', path: file_stats_dashboard_path, table_ids: %w(file_stats_content_type file_stats_file_extension)}
    #red-flags.tab-pane
      Loading...
      :javascript
        $("#red-flags").load("#{red_flags_dashboard_path}", function () {
          initialize_data_table("table#red-flags-table", {});
        });
    #combined-events-tab.tab-pane
      Loading...
      :javascript
        $("#combined-events-tab").load("#{events_dashboard_path}", function () {
          initialize_data_table("table#events", {});
        });
    #amazon.tab-pane
      Loading...
      :javascript
        $("#amazon").load("#{amazon_dashboard_path}", function () {
          initialize_data_table("table#amazon-backups-table", {});
        });
    #accruals.tab-pane
      Loading...
      :javascript
        $("#accruals").load("#{accruals_dashboard_path}", function () {
          initialize_data_table("table#accruals_table", {});
        });
    - if current_user&.superuser?
      #file-group-deletions.tab-pane
        Loading...
        :javascript
          $("#file-group-deletions").load("#{file_group_deletions_dashboard_path}", function () {
            initialize_data_table("table#file_group_deletions_table", {});
          });
