.tabbable
  = render :partial => 'shared/tab_header', :locals => {:id => 'tab-headers', :tabs => dashboard_tab_list}
  .tab-content
    #storage-overview.tab-pane.active
      = render 'storage_overview'
    #running-processes.tab-pane
      = render 'running_processes'
    #file-statistics.tab-pane
      = render 'file_stats_table'
    #red-flags.tab-pane
      = render 'shared/red_flags_table'
    #combined-events-tab.tab-pane
      = render 'events'
    #amazon.tab-pane
      = render 'amazon'
