<% if Rails.env.production? || Rails.env.demo? %>
  Unauthorized
<% else %>
  <p>
    <strong>Don't use these services?</strong>
    <%= link_to "Create an account", new_identity_path %> or login below.
  </p>

  <%= form_tag "/auth/identity/callback" do %>
    <div class="field">
      <%= label_tag :auth_key, "Email" %><br>
      <%= text_field_tag :auth_key %>
    </div>
    <div class="field">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Login" %></div>
  <% end %>
<% end %>