%tr{id: "file_format_normalization_path_#{normalization_path.id}"}
  %td= link_to normalization_path.name, normalization_path_file_format_path(@file_format, normalization_path_id: normalization_path.id), target: '_blank'
  %td= link_to(normalization_path.output_format_name, normalization_path.output_format) if normalization_path.output_format.present?
  %td= normalization_path.software
  %td= normalization_path.operating_system
  %td
    - if can?(:update, @file_format)
      = link_to 'Edit', edit_normalization_path_file_format_path(@file_format, normalization_path_id: normalization_path.id), class: 'btn btn-xs btn-default', remote: true, title: 'Edit Normalization Path'
      = link_to 'Delete', delete_normalization_path_file_format_path(@file_format, normalization_path_id: normalization_path.id), class: 'btn btn-xs btn-danger', remote: true, method: :delete, data: {confirm: 'Are you sure? This cannot be undone.'}, title: 'Delete Normalization Path'
