.file-format-note{id: "file_format_note_#{note.id}"}
  .well
    %div
      - if can?(:update, @file_format)
        .pull-right
          = link_to 'Edit Note', edit_note_file_format_path(@file_format, note_id: note.id), class: 'btn btn-xs btn-default', remote: true
          = link_to 'Delete Note', delete_note_file_format_path(@file_format, note_id: note.id), class: 'btn btn-xs btn-danger', remote: true, method: :delete, data: {confirm: 'Are you sure? This cannot be undone.'}
      %p
        #{note.user.email} - #{note.date}
    %p= note.note