.file-format-path{id: "file_format_normalization_path_#{path.id}"}
  .well
    - if can?(:update, @file_format)
      %div
        .pull-right
          = link_to 'Edit', edit_normalization_path_file_format_path(@file_format, normalization_path_id: path.id), class: 'btn btn-xs btn-default', remote: true, title: 'Edit Normalization Path'
          = link_to 'Delete', delete_normalization_path_file_format_path(@file_format, normalization_path_id: path.id), class: 'btn btn-xs btn-danger', remote: true, method: :delete, data: {confirm: 'Are you sure? This cannot be undone.'}, title: 'Delete Normalization Path'
    %div
      = show_field path, :name
      = show_field path, :output_format
      = show_field path, :software
      = show_field path, :software_version
      = show_field path, :operating_system
      = show_field path, :software_settings
      = show_field path, :potential_for_loss
