-# must pass file_format
- cache(file_format) do
  %tr
    %td= link_to file_format.name, file_format
    %td= file_format.pronom_links
    %td= truncate(file_format.policy_summary, length: 50)
    %td= file_format.extensions_string
    %td
      = small_view_button(file_format)
      - if can?(:update, file_format)
        = small_edit_button(file_format)