.row.vertical-align
  .col-xs-6
    = render 'layouts/page_header' do
      - if content_for?(:title)
        = yield(:title)
      - else
        Digital Content Format:
      %small #{@file_format.name}
  .col-xs-6
    .btn-group.pull-right
      = index_button(file_formats_path)
      - if can?(:update, @file_format)
        = edit_button(@file_format)

= yield