= render layout: 'layout_single' do

  .row
    .col-xs-12
      = render partial: 'metadata', locals: {file_format: @file_format}
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h4 File rendering profiles:
        - if @file_format.file_format_profiles.present?
          %table#file_format_profiles.table.table-striped
            = render partial: 'file_format_profiles/index_table_header'
            %tbody
              = render partial: 'file_format_profiles/index_table_row', collection: @file_format.file_format_profiles, as: :file_format_profile
        - else
          .panel-body None
  .row
    .col-xs-12
      #file_format_pronoms.panel.panel-default
        .panel-heading
          .pull-right
            = link_to "Add", new_file_format_pronom_path(@file_format), class: 'btn btn-xs btn-default', remote: true, title: 'Create Pronom'
          %h4 Pronoms
        .panel-body
          = render partial: 'pronoms/table'
  .row
    .col-xs-12
      #file_format_notes.panel.panel-default
        .panel-heading
          .pull-right
            = link_to "Add", new_file_format_note_path(@file_format), class: 'btn btn-xs btn-default', remote: true, title: 'Add Note'
          %h4 Notes
        .panel-body
          - @file_format.file_format_notes.each do |note|
            = render partial: 'file_format_notes/show', locals: {note: note}
  .row
    .col-xs-12
      #file_format_normalization_paths.panel.panel-default
        .panel-heading
          .pull-right
            = link_to "Add", new_file_format_normalization_path_path(@file_format), class: 'btn btn-xs btn-default', remote: true, title: 'Add Normalization Path'
          %h4 Normalization Paths
        .panel-body
          = render partial: 'file_format_normalization_paths/table'

  #form_placeholder
