= render layout: 'layout_single' do

  .row
    .col-xs-12
      .well
        = show_field @file_format, :name
        = show_value @file_format.pronom_link, "Pronom ID"
        = show_field @file_format, :policy_summary
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h4 File format profiles:
        - if @file_format.file_format_profiles.present?
          %ul.list-group
            - @file_format.file_format_profiles.each do |file_format_profile|
              %li.list-group-item= link_to(file_format_profile.name, file_format_profile)
        - else
          .panel-body None
