= simple_form_for @access_system, :html => {:class => 'form-horizontal'} do |f|
  = f.input :name
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    - if @access_system.new_record?
      = link_to('Index', access_systems_path, :class => 'btn')
    - else
      = link_to(t('.cancel', :default => t('helpers.links.cancel')), @access_system, :class => 'btn')
