.row
  .col-xs-6
    = render layout: 'layouts/page_header' do
      #{@access_system.name}
  .col-xs-6
    .pull-right.btn-group
      = index_button(access_systems_path)
      = edit_button(@access_system)

= yield