- model_class = AccessSystem
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize

%table.table.table-striped#access_systems
  %thead
    %th Name
    %th
  %tbody
  - @access_systems.each do |access_system|
    %tr
      %td #{link_to access_system.name, access_system}
      %td
        = link_to 'Edit', edit_access_system_path(access_system), :class => 'btn btn-mini'
        = link_to 'Delete', access_system, :method => :delete, :data => {:confirm => 'This is irreversible - are you sure?'}, :class => 'btn btn-mini btn-danger'

= link_to 'New Access System', new_access_system_path, :class => 'btn btn-primary'
