= render layout: 'layouts/page_header' do
  Access Systems

%table.table.table-striped#access_systems
  %thead
    %th Name
    %th Service owner
    %th Application manager
    %th
  %tbody
    - @access_systems.each do |access_system|
      %tr
        %td #{link_to access_system.name, for_access_system_collections_path(access_system_id: access_system.id)}
        %td #{access_system.service_owner}
        %td #{access_system.application_manager}
        %td
          .pull-right
            = link_to 'View', access_system, class: 'btn btn-default btn-xs'
            = link_to 'Edit', edit_access_system_path(access_system), class: 'btn btn-default btn-xs'

%br

= link_to 'New Access System', new_access_system_path, class: 'btn btn-primary'

