.pull-right
  = link_to 'Index', access_systems_path, :class => 'btn'
  = link_to 'Edit', edit_access_system_path(@access_system), :class => 'btn'
  = link_to 'Delete', @access_system, :method => :delete, :data => {:confirm => 'This is irreversible. Are you sure?'}, :class => 'btn btn-danger'

.page_header
  %h1 Access System: #{@access_system.name}

.row
  .span8
    = show_field @access_system, :name
