-# must pass 'collection'
- cache(collection) do
  %tr
    %td #{collection.external_id}
    %td #{link_to collection.title, collection}
    %td #{collection.contact_email}
    %td #{collection.total_size.to_fs(:rounded, precision: 2, delimiter: ',')}
    %td
      = small_edit_button(collection)
