%h2
  Collections
  %span.pull-right
    = link_to 'Add Collection', new_collection_path(repository_id: @repository.id), class: 'btn btn-primary btn-xs'
    = link_to collections_repository_path(@repository, format: 'xls'), class: 'btn btn-default btn-xs' do
      %span.glyphicon.glyphicon-export
      Export as XLS


%div
  %table.table.table-striped#collections
    %thead
      %tr
        %th External ID
        %th Title
        %th Contact
        %th Size (GB)
        %th Preservation Priority
        %th
    %tbody
      - @repository.collections.each do |collection|
        %tr
          %td #{collection.external_id}
          %td #{link_to collection.title, collection}
          %td #{collection.contact_email}
          %td #{collection.total_size.to_s(:rounded, precision: 2, delimiter: ',')}
          %td #{collection.preservation_priority_name}
          %td
            = link_to 'Edit', edit_collection_path(collection), :class => 'btn btn-default btn-xs'
            = link_to 'Delete', collection, :method => :delete, :data => { :confirm => collection_confirm_message}, :class => 'btn btn-xs btn-danger'
