= simple_form_for @repository do |f|
  = f.input :title
  = f.input :contact_net_id, :label => 'Contact Person Net ID'
  = f.input :address_1
  = f.input :address_2
  = f.input :city
  = f.input :state
  = f.input :zip
  = f.input :phone_number
  = f.input :email
  = f.input :url
  = f.input :notes
  = f.button :submit
  - if @repository.new_record?
    = link_to('Index', repositories_path)
  - else
    = button_to('Cancel', @repository)
