-# must pass f, the form
= f.input :contact_email, label: 'Contact Person Email', wrapper: :wide_horizontal_file_input, type: :email
= f.input :address_1, wrapper: :wide_horizontal_file_input
= f.input :address_2, wrapper: :wide_horizontal_file_input
= f.input :city, wrapper: :wide_horizontal_file_input
= f.input :state, wrapper: :wide_horizontal_file_input
= f.input :zip, wrapper: :wide_horizontal_file_input
