.row
  = simple_form_for @repository, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
    .col-sm-12
      = f.input :title
      = f.input :institution_id, as: :hidden, input_html: {value: (@repository.institution_id || @institution_id)}
    .col-sm-6
      = f.input :contact_email, label: 'Contact Person Email', wrapper: :wide_horizontal_file_input, type: :email
      = f.input :address_1, wrapper: :wide_horizontal_file_input
      = f.input :address_2, wrapper: :wide_horizontal_file_input
      = f.input :city, wrapper: :wide_horizontal_file_input
      = f.input :state, wrapper: :wide_horizontal_file_input
      = f.input :zip, wrapper: :wide_horizontal_file_input
    .col-sm-6
      = f.input :phone_number, label: 'Phone Number', type: :tel, wrapper: :wide_horizontal_file_input
      = f.input :email, type: :email, wrapper: :wide_horizontal_file_input
      = f.input :url, label: 'URL', type: :url, wrapper: :wide_horizontal_file_input
      = f.input :active_start_date, as: :string, input_html: {class: 'datepicker'}, label: 'Active Start Date', wrapper: :wide_horizontal_file_input
      = f.input :active_end_date, as: :string, input_html: {class: 'datepicker'}, label: 'Active End Date', wrapper: :wide_horizontal_file_input
      = f.input :notes, input_html: { rows: 3 }, wrapper: :wide_horizontal_file_input
    .form-actions.col-sm-12
      = f.button :submit, class: 'btn btn-primary'
      = cancel_button(repositories_path)
      -  if @repository.persisted? and safe_can?(:destroy, @repository)
        = delete_button(repository_path(@repository), message: t('repositories.confirm_message'))

