.row
  .col-xs-6
    %div= breadcrumbs(@repository)
  .col-xs-6
    .btn-group.pull-right
      = red_flags_button(red_flags_repository_path(@repository))
      = events_button(events_repository_path(@repository))
      = edit_button(@repository)
      -  if safe_can?(:delete, @repository)
        = delete_button(repository_path(@repository), message: repository_confirm_message)

.row
  = yield