.row
  .col-xs-6
    = render layout: 'layouts/page_header' do
      - if content_for?(:title)
        = yield(:title)
      - else
        Repository:
      %small #{@repository.title}
  .col-xs-6
    .btn-group.pull-right
      = assessments_button(assessments_repository_path(@repository))
      = events_button(events_repository_path(@repository))
      = red_flags_button(red_flags_repository_path(@repository))
      = edit_button(@repository)

= yield