%div.row.form-group
  %div.col-sm-3 Repository
  %div.col-sm-3 AD domain
  %div.col-sm-3 AD group
  %div.col-sm-3
- Repository.order(:title).each do |repository|
  - repository.ldap_admin_domain ||= 'uofi'
  %div{id: "ldap_admin_#{repository.id}"}
    = simple_form_for repository, url: update_ldap_admin_repository_path(repository), remote: true, html: {method: :put, class: 'form-horizontal'} do |f|
      .form-group
        %div.col-sm-3= link_to(repository.title, repository)
        %div.col-sm-3= f.input :ldap_admin_domain, class: 'form-control', input_html: {id: "repository_ldap_admin_domain_#{repository.id}"}, value: 'uofi', disabled: true, label: false
        %div.col-sm-3= f.input_field :ldap_admin_group, class: 'form-control', id: "repository_ldap_admin_group_#{repository.id}"
        %div.col-sm-3= f.submit 'Update', class: 'btn btn-primary'