- model_class = Repository
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

%table.table.table-striped#repositories
  %thead
    %tr
      %th Title
      %th Contact
      %th URL
      %th Total Size (GB)
      %th
  %tbody
    - @repositories.each do |repository|
      %tr
        %td #{link_to repository.title, repository}
        %td #{net_id_search_link(repository.contact_net_id)}
        %td #{link_to repository.url, repository.url}
        %td #{repository.total_size}
        %td
          = link_to 'Edit', edit_repository_path(repository), :class => 'btn btn-mini'
          = link_to 'Delete', repository_path(repository), :method => :delete, :data => { :confirm => 'This is irreversible - are you sure?'}, :class => 'btn btn-mini btn-danger'

= link_to "New Repository", new_repository_path, :class => 'btn btn-primary'