- model_class = Repository
.page-header
  %h1= t '.title', default: model_class.model_name.human.pluralize

= render 'shared/definitions/repository'

- cache(cache_key_for_all(Repository)) do
  = render 'table'

%br

%div Total Medusa Size: #{Repository.aggregate_size.round} GB

%br

- if can? :update_ldap_admins, Repository
  = link_to 'Edit Repository Admins', edit_ldap_admins_repositories_path, class: 'btn btn-primary'