.row.vertical-align
  .col-md-8
    = render layout: 'layouts/page_header' do
      Repository
  .col-md-4
    .btn-group.pull-right
      - if can? :update_ldap_admins, Repository
        = link_to 'Edit Repository Admins', edit_ldap_admins_repositories_path, class: 'btn btn-primary'
      .btn-group
        %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown'}
          Export
          %span.caret
        %ul.dropdown-menu
          %li= link_to 'CSV', repositories_path(format: 'csv')
.row
  = render 'shared/definitions/repository'

- cache(cache_key_for_all(Repository)) do
  = render 'table'

%br

%div Total Medusa Size: #{Repository.aggregate_size.round} GB

