%h2 Repositories
%p= link_to('New Repository', new_repository_path)
%table#repositories
  %tr
    %th Title
    %th URL
    %th Notes
    %th
  - @repositories.each do |repository|
    %tr
      %td #{link_to repository.title, repository}
      %td #{link_to repository.url, repository.url}
      %td #{repository.notes}
      %td
        #{link_to 'Edit', edit_repository_path(repository)} |
        #{link_to 'Delete', repository, :method => :delete, :data => {:confirm => 'This is irreversible - are you sure?'}}