- content_for :extra_links do
  %a.btn.btn-default{'data-toggle': 'collapse', href: '#metadata', 'aria-expanded': 'false', 'aria-controls': 'metadata', role: :button}
    Metadata
    %span.caret
= render 'layout_single' do
  = render 'show_metadata'
  .row
    .tabbable
  = render 'shared/tab_header', id: 'tab-headers', tabs: repository_tab_list
  .tab-content
    #overview.tab-pane.active
      = render 'overview'
    #running-processes.tab-pane
      = render 'shared_js/simple_load', id: 'running-processes', path: show_running_processes_repository_path(@repository)
    #file-statistics.tab-pane
      = render 'shared_js/datatables_load', id: 'file-statistics', path: show_file_stats_repository_path(@repository), table_ids: %w(file_stats_content_type file_stats_file_extension)
    #red-flags.tab-pane
      = render 'shared_js/datatables_load', id: 'red-flags', path: show_red_flags_repository_path(@repository), table_ids: 'red-flags-table'
    #combined-events-tab.tab-pane
      = render 'shared_js/datatables_load', id: 'combined-events-tab', path: show_events_repository_path(@repository), table_ids: 'events'
    #accruals.tab-pane
      = render 'shared_js/datatables_load', id: 'accruals', path: show_accruals_repository_path(@repository), table_ids: 'accruals_table'
