%h2 #{@repository.title}
%div #{link_to 'Index', repositories_path} | #{link_to 'Edit', edit_repository_path(@repository)}
%div
  %div Address 1: #{@repository.address_1}
  %div Address 2: #{@repository.address_2}
  %div City: #{@repository.city}
  %div State: #{@repository.state}
  %div Zip: #{@repository.zip}
  %div Phone number: #{@repository.phone_number}
  %div Email: #{@repository.email}
  %div Url: #{link_to @repository.url, @repository.url}
  %div Notes:
  %div #{@repository.notes}
  %div #{button_to 'Delete Repository', repository_path(@repository), :method => :delete, :data => {:confirm => 'This is irreversible - are you sure?'}}

  %h2 Collections
  %div #{link_to 'Add Collection', new_collection_path(:repository_id => @repository.id)}
  %div
    %table#collections
      %tr
        %th Title
        %th
      - @repository.collections.each do |collection|
        %tr
          %td #{link_to collection.title, collection_path(collection)}
          %td
            #{link_to 'Edit', edit_collection_path(collection)} |
            #{link_to 'Delete', collection_path(collection), :method => :delete, :data => {:confirm => 'This is irreversible - are you sure?'}}