- model_class = Repository

.pull-right
  = link_to "Back", repositories_path, :class => 'btn'
  = link_to "Edit", edit_repository_path(@repository), :class => 'btn'
  = link_to "Delete Repository", repository_path(@repository), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'This is irreversible - are you sure?')), :class => 'btn btn-danger'

.page-header
  %h1 #{@repository.title}

%dl.dl-horizontal
  %dt Contact Net ID:
  %dd #{@repository.contact_net_id}
  %dt Address 1:
  %dd #{@repository.address_1}
  %dt Address 2:
  %dd #{@repository.address_2}
  %dt City:
  %dd #{@repository.city}
  %dt State:
  %dd #{@repository.state}
  %dt Zip:
  %dd #{@repository.zip}
  %dt Phone number:
  %dd #{@repository.phone_number}
  %dt Email:
  %dd #{@repository.email}
  %dt Url:
  %dd #{link_to @repository.url, @repository.url}
  %dt Notes:
  %dd #{@repository.notes}
  
%hr/    
= render 'collections_table'

  