- model_class = Repository

.page-header
  .row
    .span4
      %h1
        = @repository.title
        %small Repository
    .span8
      .btn-group.pull-right
        = link_to "Red Flags", red_flags_repository_path(@repository), :class => 'btn'

.span3#sidebar
  .well
    = show_value net_id_search_link(@repository.contact_net_id), 'Contact Net ID'
    = show_field @repository, :address_1
    = show_field @repository, :address_2
    = show_field @repository, :city
    = show_field @repository, :state
    = show_field @repository, :zip
    = show_field @repository, :phone_number
    = show_field @repository, :email
    = show_value link_to_external(@repository.url, @repository.url), 'URL'
    = show_field @repository, :notes_html, 'Notes'
    = show_field @repository, :total_size, 'Total Size (GB)'
    = show_field @repository, :active_start_date, 'Active Start Date'
    = show_field @repository, :active_end_date, 'Active End Date'
    .btn-group
      = link_to "Back", repositories_path, :class => 'btn'
      = link_to "Edit", edit_repository_path(@repository), :class => 'btn'
      = link_to "Delete Repository", repository_path(@repository), :method => "delete", :data => { :confirm => repository_confirm_message}, :class => 'btn btn-danger'

.span9#content
  %a.toggles{:href=>"#", :rel => "tooltip", :title => "Hide or show the sidebar" }
    %i.icon-arrow-left
  = render 'collections_table'

  = render 'assessments/table'



