- url = @normalization_path.new_record? ? file_format_normalization_paths_path(@file_format) : normalization_path_path(@normalization_path)
= render layout: 'layouts/bootstrap_modal', locals: {id: 'modal_item_form'} do
  = simple_form_for @normalization_path, url: url, remote: true, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
    .row
      = render partial: 'form_sidebar', locals: {f: f, object: @normalization_path}
      .col-sm-10
        = f.input :name
        = f.input :input_logical_extension_id, as: :select, allow_blank: true, collection: LogicalExtension.order('extension asc, description asc'), label_method: :label
        = f.input :output_logical_extension_id, as: :select, allow_blank: true, collection: LogicalExtension.order('extension asc, description asc'), label_method: :label
        = f.association :output_format, as: :select, allow_blank: true
        = f.input :software
        = f.input :software_version
        = f.input :operating_system
        = f.input :software_settings
        = f.input :potential_for_loss
        = f.input :notes