-# must pass normalization_path
%tr{id: "file_format_normalization_path_#{normalization_path.id}"}
  %td= link_to normalization_path.name, normalization_path_path(normalization_path), target: '_blank'
  %td= normalization_path.input_logical_extension.try(:label)
  %td= normalization_path.output_logical_extension.try(:label)
  %td= link_to(normalization_path.output_format_name, normalization_path.output_format) if normalization_path.output_format.present?
  %td= normalization_path.software
  %td= normalization_path.operating_system
  %td
    - if can?(:update, @file_format)
      = small_default_button('Edit', edit_normalization_path_path(normalization_path), remote: true, title: 'Edit Normalization Path')
      = small_danger_button('Delete', normalization_path_path(normalization_path), title: 'Delete Normalization Path')