.row.vertical-align
  .col-xs-6
    = render layout: 'layouts/page_header' do
      - if content_for?(:title)
        = yield(:title)
      - else
        Normalization Path:
      %small #{@normalization_path.file_format.name}

%div
  = show_field @normalization_path, :name
  - link = @normalization_path.output_format ? link_to(@normalization_path.output_format_name, @normalization_path.output_format) : ''
  = show_value @normalization_path.input_logical_extension.try(:label), 'Input Logical Extension'
  = show_value @normalization_path.output_logical_extension.try(:label), 'Output Logical Extension'
  = show_value link, 'Output Format'
  = show_field @normalization_path, :software
  = show_field @normalization_path, :software_version
  = show_field @normalization_path, :operating_system
  = show_field @normalization_path, :software_settings
  = show_field @normalization_path, :potential_for_loss
  = show_field @normalization_path, :notes
