= render layout: 'layouts/bootstrap_modal', locals: {id: 'add-files-dialog'} do
  .modal-header
    Add files
  .modal-body
    = simple_form_for :accrual, html: {id: 'add-files-form'} do |f|
      = f.input :cfs_directory_id, as: :hidden
      = f.input :staging_path, as: :hidden
      #add-files-listing
        = render 'cfs_directories/accrual_listing'
      .btn-group
        - up_path = update_display_accrual_path(cfs_directory_id: @accrual.cfs_directory_id, staging_path: @accrual.path_up)
        = link_to 'Up', up_path, class: "btn btn-default", id: 'add-files-up-link', remote: true
        = f.button :submit, class: 'btn btn-primary', value: 'Ingest'
        = link_to 'Cancel', '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => '#add-files-dialog'