= render 'cfs_directories/image_viewer'

= render layout: 'layouts/standard_table', locals: {id: :files, headers: ['Thumbnail', 'Name', 'Size', 'Last Modified', 'FITS']} do
  - @directory.subdirectories.order('path asc').each do |subdirectory|
    %tr
      %td
      %td{'data-sort': "a-#{subdirectory.path}"}
        = fa_icon 'folder-o'
        = link_to subdirectory.path, cfs_directory_path(subdirectory)
      %td
      %td
      %td
  - @directory.cfs_files.decorate.each do |file|
    %tr
      %td
        - if file.preview_type_is_image?
          = link_to cfs_file_path(file) do
            %span.delayed-thumbnail{'data-thumb-path':  thumbnail_cfs_file_path(file), 'data-thumb-alt': file.name}
      %td{'data-sort': "b-#{file.name}"}
        = fa_icon 'file'
        = link_to file.name, cfs_file_path(file)
      %td= file.size
      %td= file.mtime
      %td= file.fits_button

