.btn-group
  = render 'shared/dropdown_toggle', title: 'Download', icon: 'download'
  %ul.dropdown-menu.dropdown-menu-right
    %li= link_to 'Download Files - Omit Subfolders', export_cfs_directory_path(@directory), method: :post, remote: true
    %li= link_to 'Download Files - Include Subfolders', export_tree_cfs_directory_path(@directory), method: :post, remote: true
    %li= link_to 'JSON', cfs_directory_path(@directory, format: :json)
    %li= link_to 'TSV', show_tree_cfs_directory_path(@directory, format: :tsv)
    %li= link_to 'JSON Tree', show_tree_cfs_directory_path(@directory, format: :json)