.row.vertical-align
  .col-xs-5
    = render layout: 'layouts/page_header' do
      Directory:
      %small #{@directory.path}
      = content_for :page_header_extra do
        UUID: #{@directory.uuid}
    #export_message
  .col-xs-7
    .btn-group.pull-right
      = events_button(events_cfs_directory_path(@directory))
      .btn-group
        = render 'shared/dropdown_toggle', title: :Run, icon: 'cog'
        %ul.dropdown-menu.dropdown-menu-right
          %li= link_to 'Run Simple Assessment', create_initial_cfs_assessment_cfs_directory_path(@directory), method: :post
          - if @accrual.present? and safe_can?(:accrue, @directory)
            - if @accrual.directory_accruable?
              %li= link_to 'Add files', '#', 'data-toggle': 'modal', 'data-target': '#add-files-dialog'
            - else
              %li= link_to 'Add files', '#', 'data-toggle' => 'modal', 'data-target' => '#cant-add-files-dialog'
      - if can? :export, @file_group
        = render partial: 'download_menu'
        = render partial: 'report_menu'

= yield