.row.vertical-align
  .col-xs-5
    = render layout: 'layouts/page_header' do
      Directory:
      %small #{@directory.path}
      = content_for :page_header_extra do
        UUID: #{@directory.uuid}
    #export_message
  .col-xs-7
    .btn-group.pull-right
      - if @directory.public? and public_view_on?
        = link_to 'Public View', public_cfs_directory_path(@directory), class: 'btn btn-default'
      = events_button(events_cfs_directory_path(@directory))
      .btn-group
        %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', title: 'Run', value: 'Run'}
          = fa_icon('cog')
          %span.caret
        %ul.dropdown-menu.dropdown-menu-right
          %li= link_to 'Create FITS', create_fits_for_tree_cfs_directory_path(@directory), method: :post
          %li= link_to 'Fixity check', fixity_check_cfs_directory_path(@directory), method: :post
          - if @accrual.present? and safe_can?(:accrue, @directory)
            %li= link_to 'Add files', '#', 'data-toggle' => 'modal', 'data-target' => '#add-files-dialog'
      - if can? :export, @file_group
        .btn-group
          %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', title: 'Download'}
            = fa_icon('download')
            %span.caret
          %ul.dropdown-menu.dropdown-menu-right
            %li= link_to 'Download Files', export_cfs_directory_path(@directory), method: :post, remote: true
            %li= link_to 'Download Files and All Subdirectories', export_tree_cfs_directory_path(@directory), method: :post, remote: true
            %li= link_to 'JSON', cfs_directory_path(@directory, format: :json)
            %li= link_to 'TSV', show_tree_cfs_directory_path(@directory, format: :tsv)

= yield