= render layout: 'layouts/standard_table', locals: {id: :files, headers: ['Name', 'Size', 'Last Modified']} do
  - @directory.subdirectories.order(:path).each do |subdirectory|
    %tr
      %td{'data-sort' => "a-#{subdirectory.path}"}
        = fa_icon 'folder-o'
        = link_to subdirectory.path, public_cfs_directory_path(subdirectory)
      %td
      %td
  - @directory.cfs_files.each do |file|
    %tr
      %td{'data-sort' => "b-#{file.name}"}
        = fa_icon 'file'
        = link_to file.name, public_cfs_file_path(file)
      %td= file.size
      %td= file.mtime
