.row
  .col-xs-5
    = breadcrumbs(@directory)
  .col-xs-7
    .btn-group.pull-right
      - if @directory.public?
        = link_to 'Public View', public_cfs_directory_path(@directory), class: 'btn btn-default'
      = link_to 'Create FITS for tree', create_fits_for_tree_cfs_directory_path(@directory), method: :post, class: 'btn btn-default'
      - if can? :export, @file_group
        = link_to 'Download Files', export_cfs_directory_path(@directory), method: :post, class: 'btn btn-default'
        = link_to 'Download Files and All Subdirectories', export_tree_cfs_directory_path(@directory), method: :post, class: 'btn btn-default'

%br

%h3 Directory: #{@directory.path}
%p UUID: #{@directory.uuid}

%hr

%table#files.table.table-striped
  %thead
    %tr
      %th Name
      %th Size
      %th Last Modified
      %th FITS
  %tbody
    - @directory.subdirectories.order(:path).each do |subdirectory|
      %tr
        %td{'data-sort' => "a-#{subdirectory.path}"}
          = fa_icon 'folder-o'
          = link_to subdirectory.path, cfs_directory_path(subdirectory)
        %td
        %td
        %td
    - @directory.cfs_files.each do |file|
      %tr
        %td{'data-sort' => "b-#{file.name}"}
          = fa_icon 'file'
          = link_to file.name, cfs_file_path(file)
        %td= file.size
        %td= file.mtime
        %td
          - if file.fits_xml
            = small_view_button(fits_cfs_file_path(file, format: :xml))
          - else
            = small_create_button(create_fits_xml_cfs_file_path(file, method: :post))
