= render 'show_breadcrumbs'

.pull-right
  = link_to 'Create FITS for tree', create_fits_for_tree_cfs_directory_path(@directory), method: :post, class: 'btn'
  - if can? :export, @file_group
    |
    = link_to 'Export directory', export_cfs_directory_path(@directory), method: :post, class: 'btn'
    |
    = link_to 'Export directory tree', export_tree_cfs_directory_path(@directory), method: :post, class: 'btn'

%h3 Directory: #{@directory.path}
- if @file_group
  %h4 File Group: #{link_to @file_group.name, @file_group}

%h4 Subdirectories
%table#subdirectories.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    - @directory.subdirectories.each do |subdirectory|
      %tr
        %td= link_to subdirectory.path, cfs_directory_path(subdirectory)

%hr

%h4 Files
%table#files.table.table-striped
  %thead
    %tr
      %th Name
      %th Size
      %th Last Modified
      %th FITS
  %tbody
    - @directory.cfs_files.each do |file|
      %tr
        %td= link_to file.name, cfs_file_path(file)
        %td= file.size
        %td= file.mtime
        %td
          - if file.fits_xml
            = link_to 'View XML', fits_xml_cfs_file_path(file)
          - else
            = link_to 'Create XML', create_fits_xml_cfs_file_path(file, method: :post)