.row.vertical-align
  .col-xs-8
    = render layout: 'layouts/page_header' do
      - if content_for?(:title)
        = yield(:title)
      - else
        Package Profile:
      %small #{@package_profile.name}

  .col-xs-4
    .btn-group.pull-right
      = index_button(package_profiles_path)
      = edit_button(@package_profile)

= yield