= render layout: 'layouts/page_header' do
  Package Profiles

%table.table.table-striped#package_profiles
  %thead
    %th Name
    %th Url
    %th
  %tbody
    - @package_profiles.each do |package_profile|
      %tr
        %td= link_to(package_profile.name, for_package_profile_collections_path(package_profile_id: package_profile.id))
        %td= link_to(package_profile.url, package_profile.url)
        %td
          = link_to 'View', package_profile, class: 'btn btn-default btn-xs'
          = link_to 'Edit', edit_package_profile_path(package_profile), class: 'btn btn-default btn-xs'

%br

= link_to 'New Package Profile', new_package_profile_path, class: 'btn btn-primary'