= render layout: 'layouts/page_header' do
  Package Profiles

%table.table.table-striped#package_profiles
  %thead
    %th Name
    %th Url
    %th
  %tbody
    - @package_profiles.each do |package_profile|
      %tr
        %td= link_to(package_profile.name, collections_package_profile_path(package_profile))
        %td= link_to(package_profile.url, package_profile.url)
        %td
          = small_view_button(package_profile)
          = small_edit_button(package_profile)

%br

= link_to 'New Package Profile', new_package_profile_path, class: 'btn btn-primary'