%tr{id: "pronom_#{pronom.id}"}
  %td= pronom.decorate.link(target: '_blank')
  %td= pronom.version
  %td
    - if can?(:update, @file_format)
      = link_to 'Edit', edit_pronom_path(pronom), class: 'btn btn-xs btn-default', remote: true, title: 'Edit Pronom', role: :button
      = small_danger_button('Delete', pronom_path(pronom), remote: true, title: 'Delete Pronom')