.page_header
  %h2
    Red Flag for #{@red_flag.red_flaggable.class.to_s.underscore.humanize}:
    = link_to @red_flag.red_flaggable.label, @red_flag.red_flaggable

= simple_form_for @red_flag, :html => {:class => 'form-horizontal'} do |f|

  .span9
    %div
      = f.input :message, :disabled => true
      = f.input :priority, :as => :select, :include_blank => false, :collection => RedFlag::PRIORITIES
      = f.input :status, :as => :select, :include_blank => false, :collection => RedFlag::STATUSES
      = f.input :notes
    %div
      = f.button :submit, :class => 'btn-primary'
      = link_to 'Cancel', @red_flag, :class => 'btn'