update_red_flag_row_for_unflagging(#{@red_flag.id});
-#- id = "#red-flag-#{@red_flag.id}"
-#$("#{id} span.unflag-link").remove();
-#$("#{id} .status").text('unflagged');
-#$("#{id} .mass-unflag-checkbox").remove();