= simple_form_for @virtual_repository, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
  .row
    = render 'shared/form_sidebar', f: f, object: @virtual_repository, cancel_return: repository_path(@virtual_repository.repository)
    .col-sm-9
      = f.input :title
      = f.input :repository_id, as: :hidden, input_html: {value: @virtual_repository.repository.id}
      = f.association :collections, collection: @virtual_repository.repository.collections.order(:title), as: :check_boxes, label_method: :title
