-#must pass in 'contact_object', an object that has all of these contact fields
= show_field contact_object, :address_1
= show_field contact_object, :address_2
= show_field contact_object, :city
= show_field contact_object, :state
= show_field contact_object, :zip
= show_field contact_object, :phone_number
= show_field contact_object, :email
