%nav.navbar.navbar-default#global-navigation{role: 'navigation'}
  .global-nav-row
    .navbar-header
      #medusa-logo.pull-left
        %a{href: root_path}
          = image_tag('medusa_wordmark_50x60px.png', alt: 'Medusa logo image')
          %span.header-medusa-text
            Medusa
      = render partial: 'shared/navbar_toggle', locals: {id: '#global-nav-row-1'}
    #global-nav-row-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li
          - if has_notifications?
            = link_to dashboard_path, title: 'Dashboard' do
              = fa_icon 'tachometer'
              = fa_icon 'exclamation', class: 'dashboard-notification'
          - else
            = fa_icon_link_to 'Dashboard', 'tachometer', dashboard_path
      %ul.nav.navbar-nav.navbar-right
        - if medusa_user?
          = render partial: 'shared/search'
        - if medusa_user?
          %li= fa_icon_and_text_link_to 'Logout', 'user', logout_path
        - else
          %li= fa_icon_and_text_link_to 'Login', 'user', login_path
        %li= wiki_link('Wiki')
        %li= fa_icon_link_to 'Help', 'question-circle', static_page_path(key: 'help')
  .global-nav-row
    .navbar-header
      .navbar-text.pull-left View lists of:
      = render partial: 'shared/navbar_toggle', locals: {id: '#global-nav-row-2'}
    #global-nav-row-2.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li.navbar-institutions= fa_icon_and_text_link_to 'Institutions', 'university', institutions_path
        %li.navbar-repositories= fa_icon_and_text_link_to 'Repositories', 'building', repositories_path
        %li.navbar-collections= fa_icon_and_text_link_to 'Collections', 'archive', collections_path
        %li.navbar-projects= fa_icon_and_text_link_to 'Projects', 'bus', projects_path
        %li.navbar-file-groups.hidden= fa_icon_and_text_link_to 'File Groups', 'folder-o','#'
        %li.navbar-files.hidden= fa_icon_and_text_link_to 'Files', 'file-o', '#'
      = render 'shared/global_more_links'
