- cache(current_user) do
  %nav.navbar.navbar-default#global-navigation{role: 'navigation'}
    .global-nav-row
      #medusa-logo.pull-left
        %a{href: root_url}
          = image_tag('medusa_wordmark_50x250px.png', alt: 'Medusa logo')
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-left
          %li
            = fa_icon_link_to 'Dashboard', 'tachometer', dashboard_path
        %ul.nav.navbar-nav.navbar-right
          - if logged_in?
            = render partial: 'shared/filename_search'
          - if logged_in?
            %li= fa_icon_and_text_link_to 'Logout', 'user', logout_path
          - else
            %li= fa_icon_and_text_link_to 'Login', 'user', login_path
          %li= wiki_link('Wiki')
          %li= fa_icon_link_to 'Help', 'question-circle', static_page_path(key: 'help')
    .global-nav-row
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-left
          .navbar-text View lists of:
          %li.navbar-institutions= fa_icon_and_text_link_to 'Institutions', 'university', institutions_path
          %li.navbar-repositories= fa_icon_and_text_link_to 'Repositories', 'building', repositories_path
          %li.navbar-collections= fa_icon_and_text_link_to 'Collections', 'archive', collections_path
          %li.navbar-file-groups.hidden= fa_icon_and_text_link_to 'File Groups', 'folder-o','#'
          %li.navbar-files.hidden= fa_icon_and_text_link_to 'Files', 'file-o', '#'
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: '#', 'data-toggle' => 'modal', 'data-target' => '#more-actions'}
              More
              %span.caret
        #more-actions.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                %a.close{'data-dismiss' => 'modal', 'aria-label' => 'Close'}
                  %span{'aria-hidden' => true}
                    &times;
                %h4.modal-title More actions
              .modal-body
                .row
                  .col-sm-4
                    %strong View by:
                    %ul
                      %li= link_to 'Producers', producers_path
                      %li= link_to 'Access Systems', access_systems_path
                      %li= link_to 'Packages', package_profiles_path
                      - if safe_can?(:read, FileFormatProfile)
                        %li= link_to 'File Format Profiles', file_format_profiles_path
                    %strong Book Tracker:
                    %ul
                      %li= link_to 'Items', book_tracker_items_path
                      - if safe_can?(:update, BookTracker::Item)
                        %li= link_to 'Tasks', book_tracker_tasks_path
                  .col-sm-4
                    %strong Quick Links:
                    %ul
                      %li= link_to 'Deposit Files', '#'
                      %li= link_to 'Create a Collection', '#'
                      %li= link_to 'Request Training', '#'
                      %li= link_to 'Feedback', '#'
                    %strong Learn More:
                    %ul
                      %li= link_to 'Policies', '#'
                      %li= link_to 'Technology', '#'
                      %li= link_to 'Staff', '#'
                      %li= link_to 'Wiki', '#'
                      %li= link_to 'Help', '#'
                      %li= link_to 'FAQ', 'https://wiki.cites.illinois.edu/wiki/display/LibraryDigitalPreservation/Medusa+FAQ'
                  .col-sm-4
                    %strong Frequently Visited Collections:
                    %ul
                      %li= link_to 'IDEALS', repository_path(42)
                      %li= link_to 'RBML', repository_path(23)
                      %li= link_to 'Sousa Archives'.html_safe, repository_path(31)
                      %li= link_to 'University Archives'.html_safe, repository_path(22)
