= simple_form_for @attachment, :html => {:class => 'form-horizontal'} do |f|
  .row
    = render :partial => 'sidebar', :locals => {:f => f}

    .span9
      #attachment-details
        = f.input :attachable_id, :as => :hidden, :input_html => {:value => @attachable.id}
        = f.input :attachable_type, :as => :hidden, :input_html => {:value => @attachable.class.name}
        = f.input :attachment, :as => :file
        = f.input :description, :label => 'Description'
