= simple_form_for @attachment, html: {class: 'form-horizontal'} do |f|
  .row
    = render partial: 'shared/form_sidebar', locals: {f: f, object: @attachment, cancel_return: (@attachable if @attachment.new_record?)}

    .col-sm-9
      #attachment-details
        = f.input :attachable_id, as: :hidden, input_html: {value: @attachable.id}
        = f.input :attachable_type, as: :hidden, input_html: {value: @attachable.class.name}
        = f.input :attachment, as: :file
        = f.input :description, label: 'Description'
