-# must pass 'attachment'
- cache(attachment, attachment.author) do
  %tr
    %td #{link_to attachment.attachment_file_name, attachment}
    %td #{attachment.description}
    %td #{attachment.attachment_content_type}
    %td #{attachment.author_email}
    %td
      = small_download_button(download_attachment_path(attachment))
      = small_edit_button(attachment)
      = small_delete_button(attachment)
