.pull-right
  = link_to 'Edit', edit_attachment_path(@attachment), :class => 'btn btn-default'
  = link_to 'Delete', @attachment, :method => :delete, :data => {:confirm => generic_confirm_message}, :class => 'btn btn-danger'

.page-header
  %h1 Attachment: #{@attachment.attachment_file_name}

.row
  .col-sm-8
    .well
      = show_value net_id_search_link(@attachment.author_net_id), 'Author Net ID'
      = show_field @attachment, :attachment_file_name
      = show_field @attachment, :description
      = show_field @attachment, :attachment_content_type, 'Content Type'
      = show_field @attachment.attachment, :path, 'Path'
      = show_field @attachment.attachment, :url, 'Url'
