= simple_form_for @file_format_profile, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
  .row
    = render partial: 'shared/form_sidebar', locals: {f: f, object: @file_format_profile, cancel_return: (file_format_profiles_path if @file_format_profile.new_record?)}

    .col-sm-9
      = f.input :name
      = f.input :software
      = f.input :software_version
      = f.input :os_environment, label: 'OS environment'
      = f.input :os_version, label: 'OS version'
      = f.input :notes
      %a.btn.btn-primary{href: '#', 'data-toggle' => 'modal', 'data-target' => '#edit_content_type_list'} Edit Content Types
      #edit_content_type_list.modal.fade{role: 'dialog', 'aria-labelledby' => 'Edit content type list', 'aria-hidden' => 'true'}
        .modal-dialog
          .modal-content
            .modal-header
              %a.close{href: '#', type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
                %span{'aria-hidden' => 'true'}
                  &times;
              %h4.modal-title
                Edit Content Types
            .modal-body
              = f.association :content_types, as: :check_boxes, label_method: :name
            .modal-footer
              %a.btn.btn-default{href: '#', type: 'button', 'data-dismiss' => 'modal'} Close
      #edit_file_extension_list
        = f.association :file_extensions, as: :check_boxes, label_method: :extension_label
