= simple_form_for @file_format_profile, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
  .row
    = render partial: 'shared/form_sidebar', locals: {f: f, object: @file_format_profile, cancel_return: (file_format_profiles_path if @file_format_profile.new_record?)}

    .col-sm-9
      = f.input :name
      = f.input :software
      = f.input :software_version
      = f.input :os_environment, label: 'OS environment'
      = f.input :os_version, label: 'OS version'
      = f.input :notes