.row.vertical-align
  .col-xs-6
    = render layout: 'layouts/page_header' do
      - if content_for?(:title)
        = yield(:title)
      - else
        File Format Profile:
      %small #{@file_format_profile.name}
  .col-xs-6
    .btn-group.pull-right
      = index_button(file_format_profiles_path)
      = edit_button(@file_format_profile)

= yield