= show_field @file_format_profile, :status
= show_field @file_format_profile, :software
= show_field @file_format_profile, :software_version
= show_field @file_format_profile, :os_environment
= show_field @file_format_profile, :os_version
= show_field @file_format_profile, :notes
- @file_formats.each do |file_format|
  = show_value link_to(file_format.name, file_format), 'Digital Content format'
