= render layout: 'layout_single' do

  = render layout: 'layouts/page_header' do
    #{@file_format_profile.name}

  .row
    .col-xs-12
      = show_field @file_format_profile, :software
      = show_field @file_format_profile, :software_version
      = show_field @file_format_profile, :os_environment
      = show_field @file_format_profile, :os_version
      = show_field @file_format_profile, :notes
  .row
    .col-xs-6
      .panel.panel-default
        .panel-heading
          %h4 Content types:
        .panel-body
          - if @file_format_profile.content_types.present?
            %ul
              - @file_format_profile.content_types.find_each do |content_type|
                %li= content_type.name
          - else
            None
    .col-xs-6
      .panel.panel-default
        .panel-heading
          %h4 File Extensions:
        .panel-body
          - if @file_format_profile.file_extensions.present?
            %ul
              - @file_format_profile.file_extensions.find_each do |extension|
                %li= extension.extension
          - else
            None