= simple_form_for @event do |f|
  = f.input :key, as: :select, include_blank: false, collection: @event.eventable.event_select_options, label: 'Event'
  = f.input :actor_email, label: 'Actor Email', input_html: {class: 'form-control'}
  = f.input :date, as: :string, input_html: {class: 'datepicker'}
  = f.input :note, input_html: {class: 'col-sm-5'}
  = f.button :submit, class: 'btn btn-primary'
  = link_to 'Cancel', eventable_events_path(@event), class: 'btn btn-default'
