%table#events.table.table-striped
  %thead
    %tr
      %td Time
      %td Label
      %td Type
      %td Parent
      %td User
      %td Message
      %td Note
  %tbody
    - @events.each do |event|
      %tr
        %td= event.date
        %td= event.eventable.label
        %td= event.eventable.class.to_s.underscore.humanize
        %td= link_to(event.eventable.parent.label, event.eventable.parent)
        %td= event.actor_netid
        %td= event.message
        %td= event.note