%table#events.table.table-striped.table-condensed
  %thead
    %tr
      %td Time
      %td Label
      %td Type
      %td Parent
      %td User
      %td Message
      %td Note
      %td Actions
  %tbody
    - @events.each do |event|
      %tr
        %td= event.date
        %td= link_to event.eventable.label, event.eventable
        %td= event.eventable.class.to_s.underscore.humanize
        %td= link_to(event.eventable.parent.label, event.eventable.parent)
        %td= event.actor_email
        %td= event.message
        %td= event.note
        %td
          = small_edit_button(event)
          = small_delete_button(event, message: event_confirm_message)
