%table#events.table.table-striped.table-condensed
  %thead
    %tr
      %td Time
      %td Label
      %td Type
      %td Parent
      %td User
      %td Message
      %td Note
      %td Actions
  %tbody
    - @events.each do |event|
      %tr
        %td= event.date
        %td= link_to event.eventable.label, event.eventablee
        %td= event.eventable.class.to_s.underscore.humanize
        %td= link_to(event.eventable.parent.label, event.eventable.parent)
        %td= event.actor_email
        %td= event.message
        %td= event.note
        %td
          - if safe_can?(:update_event, event.eventable)
            = link_to 'Edit', edit_event_path(event), class: 'btn btn-xs btn-default'
          - if safe_can?(:delete_event, event.eventable)
            = link_to 'Delete', event_path(event), method: :delete, data: {confirm: event_confirm_message}, class: 'btn btn-xs btn-danger'