-# Must pass in eventable (to which event will apply), remote (is this a remote form), dialog_id (used by bootstrap to handle dialog display)\\
.modal.ui-front{id: dialog_id, class: maybe_fade}
  = simple_form_for Event.new, url: events_path(eventable_id: eventable, eventable_type: eventable.class.to_s), html: {class: 'form-search'}, remote: remote do |f|
    - content_for(:modal_header) do
      = cancel_modal_x
      %h3#modalLabel New Event
    - content_for(:modal_footer) do
      = cancel_modal_button
      = submit_modal_button(f, value: 'Create Event')
    = render 'shared/modal_dialog' do
      = f.input :key, as: :select, include_blank: false, collection: eventable.event_select_options, label: 'Event'
      = f.input :actor_email, label: 'Actor Email', input_html: {value: current_user.try(:email), class: 'form-control'}, as: :autocomplete, url: autocomplete_user_email_events_path
      = f.input :date, as: :string, input_html: {class: 'datepicker', value: Date.today.to_s}
      = f.input :note, input_html: {class: 'col-sm-5'}