%h1 Events for #{@eventable.class.to_s.humanize}: #{@eventable.label}

%table#events.table.table-striped
  %thead
    %tr
      %td Time
      %td User
      %td Message
      %td Note
  %tbody
    - @eventable.events.includes(:user).all.each do |event|
      %tr
        %td= event.created_at.strftime('%Y-%m-%d %H:%M:%S')
        %td= event.user.uid
        %td= event.message
        %td= event.note