.row
  .col-sm-10
    .page-header
      %h1.title Items
  .col-sm-2{ 'style' => 'text-align:right' }
    = form_tag(@allowed_params.merge(controller: 'items', action: 'index', format: 'json' )) do
      = button_tag('JSON', { class: 'btn btn-default', type: 'submit' }) do
        %span.glyphicon.glyphicon-new-window{ 'aria-hidden' => true }
        JSON

.panel.panel-default.book-tracker-checks
  .panel-heading
    %h4.panel-title Last Updates
  %table.table
    %tr
      %th Local Index
      %th HathiTrust
      %th Internet Archive
      %th Corporate Partners
    %tr
      %td= @dates[:local_storage]
      %td= @dates[:hathitrust]
      %td= @dates[:internet_archive]
      %td= @dates[:google]

.well
  = form_tag(book_tracker_items_path, method: 'post',
             class: 'form-inline book-tracker-search') do
    .row
      .col-sm-8
        %table.table
          %tr
            %th In:
            %td
              = label_tag('', class: 'checkbox-inline') do
                = check_box_tag('in[]', 'ht', (params[:in] and params[:in].include?('ht')),
                { id: 'in-ht', class: 'book-tracker-service-checkbox' })
                HathiTrust
            %td
              = label_tag('', class: 'checkbox-inline') do
                = check_box_tag('in[]', 'ia', (params[:in] and params[:in].include?('ia')),
                { id: 'in-ia', class: 'book-tracker-service-checkbox' })
                Internet Archive
            %td
              = label_tag('', class: 'checkbox-inline') do
                = check_box_tag('in[]', 'gb', (params[:in] and params[:in].include?('gb')),
                { id: 'in-gb', class: 'book-tracker-service-checkbox' })
                Corporate Partners
            %td
              %button.btn.btn-default.btn-xs.mbt-check-all
                &check;
              %button.btn.btn-default.btn-xs.mbt-check-all.mbt-uncheck-all
                &times;
          %tr
            %th Not in:
            %td
              = label_tag('', class: 'checkbox-inline') do
                = check_box_tag('ni[]', 'ht', (params[:ni] and params[:ni].include?('ht')),
                { id: 'ni-ht', class: 'book-tracker-service-checkbox' })
                HathiTrust
            %td
              = label_tag('', class: 'checkbox-inline') do
                = check_box_tag('ni[]', 'ia', (params[:ni] and params[:ni].include?('ia')),
                { id: 'ni-ia', class: 'book-tracker-service-checkbox' })
                Internet Archive
            %td
              = label_tag('', class: 'checkbox-inline') do
                = check_box_tag('ni[]', 'gb', (params[:ni] and params[:ni].include?('gb')),
                { id: 'ni-gb', class: 'book-tracker-service-checkbox' })
                Corporate Partners
            %td
              %button.btn.btn-default.btn-xs.mbt-check-all
                &check;
              %button.btn.btn-default.btn-xs.mbt-check-all.mbt-uncheck-all
                &times;
      .col-sm-3
        = hidden_field_tag(:ht, params[:ht])
        = hidden_field_tag(:ia, params[:ia])
        = text_area_tag(:q, params[:q], placeholder: 'Filter by term or list of bib or object IDs',
                             class: 'form-control', rows: 4, style: 'width:100%')
      .col-sm-1
        = button_tag('Clear', class: 'btn btn-default mbt-clear')
        = submit_tag('Filter', class: 'btn btn-primary')

.row
  .col-sm-8
    %h4
      = pluralize(@items.total_entries, 'item', 'items')
      - if @missing_ids.any?
        = link_to("#{@missing_ids.length} IDs not found", '#',
        id: 'book-tracker-ids-not-found',
        class: 'btn btn-default btn-xs btn-danger',
        data: { toggle: 'modal', target: '#missing-ids-modal' },
        title: 'Missing IDs')
  .col-sm-4{style: 'text-align:right'}
    .btn-group
      %button.btn.btn-default.dropdown-toggle{'aria-expanded' => 'false',
      'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :type => 'button'}
        %span.glyphicon.glyphicon-export
        Export
        %span.caret
      %ul.dropdown-menu.dropdown-menu-right
        %li
          = link_to('CSV', @allowed_params.merge(format: 'csv'))
        %li
          = link_to('MARCXML', @allowed_params.merge(format: 'xml'))

%input{type: 'hidden', name: 'num_results', value: "#{@items.total_entries}"}

#items_list
  = render partial: 'items', locals: { items: @items, next_page_url: @next_page_url }

= render layout: 'layouts/bootstrap_modal', locals: {id: 'missing-ids-modal'} do
  .modal-header
    %button.close{ 'type' => 'button', 'data-dismiss' => 'modal' }
      %span{'aria-hidden' => 'true'}
        &times;
      %span.sr-only
        Close
    %h4.modal-title
      Missing IDs
  .modal-body
    %ul
      = raw(@missing_ids.uniq.map{ |id| "<li>#{id}</li>" }.join)
