<% provide(:body_id, 'items') %>

<div class="page-header row">
  <div class="col-sm-6">
    <h1 class="title">Items</h1>
  </div>
  <div class="col-sm-6">
    <%= form_tag book_tracker_items_path, method: 'get',
                 class: 'form-inline book-tracker-live-search',
                 style: 'float:right' do %>
      <%= hidden_field_tag(:ht, params[:ht]) %>
      <%= hidden_field_tag(:ia, params[:ia]) %>
      <%= search_field_tag(:q, params[:q], placeholder: 'Search',
                           class: 'form-control', style: 'width:150px') %>
    <% end %>
  </div>
</div>

<div id="items_list">
  <%= render partial: 'items' %>
</div>
