.page-header
  %h1.title
    Items

.panel.panel-default.book-tracker-checks
  .panel-heading
    %h4.panel-title Last Updates
  %table.table
    %tr
      %th
        Local index
      %th
        HathiTrust
      %th
        Internet Archive
      %th
        Google
    %tr
      %td
        = @dates[:local_storage]
      %td
        = @dates[:hathitrust]
      %td
        = @dates[:internet_archive]
      %td
        = @dates[:google]

.well
  = form_tag(book_tracker_items_path, method: 'post',
             class: 'form-inline book-tracker-search') do
    .row
      .col-sm-8
        %table.table
          %tr
            %th
              In:
            %td
              = label_tag('', class: 'checkbox-inline') do
                = check_box_tag('in[]', 'ht', (params[:in] and params[:in].include?('ht')),
                { id: 'in-ht', class: 'book-tracker-service-checkbox' })
                HathiTrust
            %td
              = label_tag('', class: 'checkbox-inline') do
                = check_box_tag('in[]', 'ia', (params[:in] and params[:in].include?('ia')),
                { id: 'in-ia', class: 'book-tracker-service-checkbox' })
                Internet Archive
            %td
              = label_tag('', class: 'checkbox-inline') do
                = check_box_tag('in[]', 'gb', (params[:in] and params[:in].include?('gb')),
                { id: 'in-gb', class: 'book-tracker-service-checkbox' })
                Google
            %td
              %button.btn.btn-default.btn-xs.mbt-check-all
                &check;
              %button.btn.btn-default.btn-xs.mbt-check-all.mbt-uncheck-all
                &times;
          %tr
            %th
              Not in:
            %td
              = label_tag('', class: 'checkbox-inline') do
                = check_box_tag('ni[]', 'ht', (params[:ni] and params[:ni].include?('ht')),
                { id: 'ni-ht', class: 'book-tracker-service-checkbox' })
                HathiTrust
            %td
              = label_tag('', class: 'checkbox-inline') do
                = check_box_tag('ni[]', 'ia', (params[:ni] and params[:ni].include?('ia')),
                { id: 'ni-ia', class: 'book-tracker-service-checkbox' })
                Internet Archive
            %td
              = label_tag('', class: 'checkbox-inline') do
                = check_box_tag('ni[]', 'gb', (params[:ni] and params[:ni].include?('gb')),
                { id: 'ni-gb', class: 'book-tracker-service-checkbox' })
                Google
            %td
              %button.btn.btn-default.btn-xs.mbt-check-all
                &check;
              %button.btn.btn-default.btn-xs.mbt-check-all.mbt-uncheck-all
                &times;
      .col-sm-3
        = hidden_field_tag(:ht, params[:ht])
        = hidden_field_tag(:ia, params[:ia])
        = text_area_tag(:q, params[:q], placeholder: 'Filter by term or list of bib IDs',
                             class: 'form-control', rows: 4, style: 'width:100%')
      .col-sm-1
        = button_tag('Clear', class: 'btn btn-default mbt-clear')
        = submit_tag('Filter', class: 'btn btn-primary')

#items_list
  = render partial: 'items'
