.row
  .col-sm-9
    .page-header
      %h1.title
        = @item.title.blank? ? 'Untitled' : @item.title
        - unless @item.volume.blank?
          %br
          %small.volume= @item.volume
        - unless @item.author.blank?
          %br
          %small.author= @item.author
        - unless @item.date.blank?
          %br
          %small.date= @item.date

  .col-sm-3
    .btn-group{ role: 'group', style: 'float:right' }
      .btn-group{ role: 'group' }
        %button.btn.btn-default.dropdown-toggle{'type' => 'button', 'data-toggle' => 'dropdown', 'aria-expanded' => 'false' }
          View In&hellip;
          %span.caret
        %ul.dropdown-menu{ role: 'menu' }
          %li= link_to('UIUC Catalog', @item.uiuc_catalog_url, target: '_blank')
          %li{ 'class' => @item.exists_in_hathitrust ? '' : 'disabled' }
            =link_to('HathiTrust', @item.hathitrust_handle, target: '_blank')
          %li{ 'class' => @item.exists_in_internet_archive ? '' : 'disabled' }
            = link_to('Internet Archive', @item.internet_archive_url, target: '_blank')
          %li{ 'class' => @item.exists_in_google ? '' : ' disabled' }
            = link_to('Google Books', @item.google_url, target: '_blank')
      = link_to(book_tracker_item_path(@item, format: :json),
                    class: 'btn btn-default', target: '_blank') do
        %span.glyphicon.glyphicon-new-window{ 'aria-hidden' => true }
        JSON

.row
  .col-sm-9
    .panel.panel-default
      .panel-heading
        %h3.panel-title Ingest
      .panel-body#book-tracker-ingest-panel
        %dl
          %dt First Ingest
          %dd= local_time(@item.created_at)
          %dt Latest Update
          %dd= local_time(@item.updated_at)
          %dt Source Path
          %dd= @item.source_path
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title Info
      .panel-body
        %dl
          %dt Bib ID
          %dd= @item.bib_id
          %dt Object ID
          %dd= @item.obj_id
          %dt Medusa ID
          %dd= @item.id
          %dt OCLC Number
          %dd= @item.oclc_number
          %dt HathiTrust Rights
          %dd= @item.exists_in_hathitrust ? readable_hathitrust_rights(@item) : 'N/A'

#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href' => '#collapseOne'}
          Raw MARCXML
    #collapseOne.panel-collapse.collapse.in
      .panel-body
        %pre= @item.raw_marcxml
