-# Must pass in eventable (to which event will apply), remote (is this a remote form), dialog_id (used by bootstrap to handle dialog display)
.modal.fade.ui-front{id: dialog_id}
  = simple_form_for ScheduledEvent.new, url: scheduled_events_path(scheduled_eventable_id: eventable.id, scheduled_eventable_type: eventable.class.to_s),html: {class: 'form-search scheduled-event-form'}, remote: remote do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button{type: "button", class: "close", 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}
            ×
          %h3#modalLabel New Event
        .modal-body
          = f.input :key, as: :select, include_blank: false, collection: eventable.scheduled_event_select_options, label: 'Scheduled event'
          = f.input :actor_email, label: 'Actor Email', input_html: {value: current_user.try(:email), class: 'form-control'}, as: :autocomplete, url: autocomplete_user_email_events_path
          = f.input :action_date, as: :string, input_html: {class: 'datepicker', value: Date.today.to_s}
          = f.input :note, input_html: {class: 'col-sm-5'}
        .modal-footer
          %button{class: 'btn btn-default', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} Cancel
          = f.button :submit, class: 'btn btn-primary'
