- return_path = (@scheduled_eventable ? events_file_group_path(@scheduled_eventable) : dashboard_path)
%table#scheduled-events.table.table-striped
  %thead
    %t
      %td Action Date
      %td Status
      %td Label
      %td Type
      %td Parent
      %td User
      %td Message
      %td Actions
  %tbody
    - @scheduled_events.each do |event|
      %tr
        %td= event.action_date
        %td= event.state
        %td= event.scheduled_eventable.label
        %td= event.scheduled_eventable.class.to_s.underscore.humanize
        %td= link_to(event.scheduled_eventable.parent.label, event.scheduled_eventable.parent)
        %td= event.actor_netid
        %td= event.message
        %td
          - if event.scheduled?
            = link_to 'complete', complete_scheduled_event_path(event, :return_to => return_path), :method => :post
            |
            = link_to 'cancel', cancel_scheduled_event_path(event, :return_to => return_path), :method => :post