%table#scheduled-events.table.table-striped.table-bordered.table-condensed
  %thead
    %t
      %td Action Date
      %td Status
      %td Label
      %td Type
      %td Parent
      %td User
      %td Message
      %td Actions
  %tbody
    - @scheduled_events.each do |event|
      %tr
        %td= event.action_date
        %td= event.state
        %td= event.scheduled_eventable.label
        %td= event.scheduled_eventable.class.to_s.underscore.humanize
        %td= link_to(event.scheduled_eventable.parent.label, event.scheduled_eventable.parent)
        %td= event.actor_email
        %td= event.message
        %td
          - links = [edit_button(edit_scheduled_event_path(event, return_to: request.fullpath)),
                     delete_button(scheduled_event_path(event), message: 'This cannot be undone.')]
          - if event.scheduled?
            - links = [link_to('complete', complete_scheduled_event_path(event), method: :post),
              link_to('cancel', cancel_scheduled_event_path(event), method: :post)] + links
          = links.join(" | ").html_safe