= simple_form_for @scheduled_event,:html => {:class => 'form-search scheduled-event-form'} do |f|
  .row
    .span8
      = f.input :key, :as => :select, :include_blank => false, :collection => @scheduled_event.select_options, :label => 'Scheduled event'
      = f.input :actor_netid, :label => 'Actor', :input_html => {:value => current_user.try(:uid)}, :as => :autocomplete, :url => autocomplete_user_uid_events_path
      = f.input :action_date, :as => :string, :input_html => {:class => 'datepicker', :value => Date.today.to_s}
      = f.input :note, :input_html => {:class => 'span5'}
      = f.hidden_field :return_to, :value => @return_to
    .form-actions.span6
      = f.button :submit, :class => 'btn-primary'
      = link_to('Cancel', @return_to, :class => 'btn')
