= simple_form_for @scheduled_event,:html => {:class => 'form-search scheduled-event-form'} do |f|
  .row
    .col-sm-8
      = f.input :key, :as => :select, :include_blank => false, :collection => @scheduled_event.select_options, :label => 'Scheduled event'
      = f.input :actor_email, :label => 'Actor Email', :input_html => {:value => current_user.try(:email), :class => 'form-control'}, :as => :autocomplete, :url => autocomplete_user_email_events_path
      = f.input :action_date, :as => :string, :input_html => {:class => 'datepicker', :value => Date.today.to_s}
      = f.input :note, :input_html => {:class => 'col-sm-5'}
      = f.hidden_field :return_to, :value => @return_to
    .form-actions.col-sm-6
      = f.button :submit, :class => 'btn btn-primary'
      = link_to('Cancel', @return_to, :class => 'btn btn-default')
