%p
  The automated accrual of the staging path #{@workflow_accrual.staging_path} to
  the cfs directory #{@workflow_accrual.cfs_directory.relative_path} has been aborted by
  the preservation manager.

- if file_group = @workflow_accrual.cfs_directory.file_group
  %p
    This belongs to the file group #{file_group.title}, collection #{file_group.collection.title}
    and repository #{file_group.repository.title}.
- x = @workflow_accrual.workflow_accrual_comments.to_a
= render partial: 'history'
