-#must pass f, the form
= f.input :collection_id, as: :hidden, input_html: {value: @collection.id}
= f.input :title
= f.input :external_id, label: 'External id'
= f.input :manager_email, required: true, as: :autocomplete, url: autocomplete_user_email_projects_path
= f.input :owner_email, required: true, as: :autocomplete, url: autocomplete_user_email_projects_path
= f.input :start_date, as: :string, input_html: {class: 'datepicker', value: (@project.start_date.if_blank(Date.today)).to_s}
- @label = capture do
  %a{'data-toggle': :modal, 'data-target': '#directory-picker'} Ingest folder
= f.input :ingest_folder, label: @label, placeholder: 'Click label to select'
= f.input :destination_folder_uuid
= f.input :status, as: :select, collection: Project::STATUSES, include_blank: false
= f.input :summary, input_html: {class: 'rich-editor'}
= f.input :specifications, input_html: {class: 'rich-editor'}
