= simple_form_for :assign_batch, url: assign_batch_project_path(@project), html: {class: 'form-inline' } do |f|
  - if safe_can?(:update, @project)
    .row
      .col-sm-12
        .pull-right
          = f.input :batch, label: 'Assign batch:&nbsp;'.html_safe, required: false
          %a{href: '#items', 'data-toggle' => 'checkboxes', 'data-action' => 'check', class: 'btn btn-default'} Check All on Page
          %a{href: '#items', 'data-toggle' => 'checkboxes', 'data-action' => 'uncheck', class: 'btn btn-default'} Uncheck All on Page
          = f.submit :Assign, class: 'btn btn-primary', onclick: "before_assign_batch_submit();"
  .row
    %table.table.table-striped#items{'data-toggle' => 'checkboxes', 'data-range' => 'true'}
      %thead
        %tr
        - @helper.headers.each do |header|
          %th= header
:javascript
  $(function() {
    $('#items').DataTable({
      'processing': true,
      'serverSide': true,
      'pageLength': 25,
      'order': [[0, "asc"]],
      'lengthMenu': [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
      'search': {
        'search': ""
      },
      'ajax': {
        'url': "#{@helper.url}"
      }
    })
  })
