= simple_form_for :mass_action, url: mass_action_project_path(@project), html: {class: 'form-inline' }, remote: true do |f|
  .row
    .col-sm-4
      .pull-left
        %a.btn.btn-default{href: '#items', 'data-toggle' => 'checkboxes', 'data-action' => 'check'}
          = fa_icon 'check-square-o', text: 'All'
        %a.btn.btn-default{href: '#items', 'data-toggle' => 'checkboxes', 'data-action' => 'uncheck'}
          = fa_icon 'square-o', text: 'All'
        %a.btn.btn-default#bibids-to-clipboard-btn{href: '#'}
          = fa_icon 'clipboard', text: 'Bibids'
    .col-sm-8
      .pull-right
        %ul.nav.nav-tabs{role: :tablist}
          %li{role: :presentation}
            %a{href: '#delete-action', 'data-toggle': :tab} Delete
          %li.active{role: :presentation}
            %a{href: '#assign-batch-action', 'data-toggle': :tab} Batch
        .tab-content
          #delete-action.tab-pane{role: 'tab-pane'}
            = f.submit :'Delete checked', class: 'btn btn-primary', onclick: "before_mass_action_submit();", data: {confirm: 'Multiple items may be deleted. Are you sure?'}
          #assign-batch-action.tab-pane.active{role: 'tab-pane'}
            = f.input :batch, label: 'Assign batch:&nbsp;'.html_safe, required: false
            = f.submit :'Assign batch', class: 'btn btn-primary', onclick: "before_mass_action_submit();"
  %table.table.table-striped#items{'data-toggle' => 'checkboxes', 'data-range' => 'true'}
    %thead
      %tr
        - @helper.headers.each do |header|
          %th= header
:javascript
  $(function() {
    $('#items').DataTable({
      'processing': true,
      'serverSide': true,
      'pageLength': 25,
      'order': [],
      'lengthMenu': [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
      'search': {
        'search': ""
      },
      'buttons': ['colvis'],
      'colReorder': {
        'fixedColumnsLeft' : 2,
        'realtime' : false
      },
      'stateSave': true,
      'dom': "<'row'<'col-sm-2'l><'col-sm-4'B><'col-sm-6'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
      'scrollX': true,
      'ajax': {
        'url': "#{@helper.url}"
      },
      'columnDefs': [
        {'orderable': false, 'targets': #{@helper.unsortable_columns}}
      ]
    })
  })
