= render layout: 'layouts/bootstrap_modal', locals: {id: 'item_mass_edit_modal'} do
  = simple_form_for :mass_action, url: mass_action_project_path(@project), html: {class: 'form-inline' }, remote: true do |f|
    .container
      .col-sm-10
        .row
          .col-sm-1
            Update field?
          .col-sm-9
        = render 'item_mass_edit_field_row', f: f, field: :batch
        .row
          .col-sm-1
            = f.input :"update_reformatting_date", label: false, as: :boolean
          .col-sm-9
            = f.input :reformatting_date, label: false, required: false, as: :string, input_html: {class: 'datepicker', value: Date.today.to_s}
            = f.label :reformatting_date, required: false
        = render 'item_mass_edit_field_row', f: f, field: :reformatting_operator
        .row
          .col-sm-1
            = f.input :"update_equipment", label: false, as: :boolean
          .col-sm-9
            = f.input :equipment, label: false, required: false, as: :select, collection: Item::EQUIPMENT_TYPES, allow_blank: true
            = f.label :equipment, required: false
        .row
          = f.input :item_ids, as: :hidden, input_html: { value: '' }
        .row
          = link_to 'Close', '#', class: 'btn btn-default', 'data-dismiss': 'modal'
          = f.submit :'Mass update', class: 'btn btn-primary', onclick: 'before_mass_action_submit();'