= render layout: 'layouts/bootstrap_modal', locals: {id: 'item_mass_edit_modal'} do
  = simple_form_for :mass_action, url: mass_action_project_path(@project), html: {class: 'form-inline' }, remote: true do |f|
    .container
      .col-sm-10
        .row
          .col-sm-2
          .col-sm-1
            Allow blank?
          .col-sm-7
        = render 'item_mass_edit_field_row', f: f, field: :batch
        .row
          .col-sm-2
            = f.label :reformatting_date, required: false
          .col-sm-1
            = f.input :'update_reformatting_date', label: false, as: :boolean
          .col-sm-7
            = f.input :reformatting_date, label: false, required: false, as: :string, input_html: {class: 'datepicker', value: ''}
        = render 'item_mass_edit_field_row', f: f, field: :reformatting_operator
        .row
          .col-sm-2
            = f.label :equipment, required: false
          .col-sm-1
            = f.input :'update_equipment', label: false, as: :boolean
          .col-sm-9
            = f.input :equipment, label: false, required: false, as: :select, collection: Item.equipment_types, allow_blank: true
        .row
          = f.input :item_ids, as: :hidden, input_html: { value: '' }
        = render 'projects/item_mass_edit_radio_row', f: f, field: :foldout_present
        = render 'projects/item_mass_edit_radio_row', f: f, field: :foldout_done
        = render 'projects/item_mass_edit_radio_row', f: f, field: :item_done
        = render 'projects/item_mass_edit_radio_row', f: f, field: :ingested
        .row
          = link_to 'Close', '#', class: 'btn btn-default', 'data-dismiss': 'modal'
          = link_to 'Reset', '#', class: 'btn btn-default', onclick: 'reset_item_mass_edit_form();'
          = f.submit :'Mass update', class: 'btn btn-primary', onclick: 'before_mass_action_submit();'