= simple_form_for :mass_action, url: mass_action_project_path(@project), html: {class: 'form-inline' }, remote: true do |f|
  .row
    .col-sm-4
      .pull-left
        %a{href: '#items', 'data-toggle' => 'checkboxes', 'data-action' => 'check', class: 'btn btn-default'} Check All on Page
        %a{href: '#items', 'data-toggle' => 'checkboxes', 'data-action' => 'uncheck', class: 'btn btn-default'} Uncheck All on Page
    .col-sm-8
      .pull-right
        %ul.nav.nav-tabs{role: :tablist}
          %li{role: :presentation}
            %a{href: '#delete-action', 'data-toggle': :tab} Delete
          %li.active{role: :presentation}
            %a{href: '#assign-batch-action', 'data-toggle': :tab} Batch
        .tab-content
          #delete-action.tab-pane{role: 'tab-pane'}
            = f.submit :'Delete checked', class: 'btn btn-primary', onclick: "before_mass_action_submit();"
          #assign-batch-action.tab-pane.active{role: 'tab-pane'}
            = f.input :batch, label: 'Assign batch:&nbsp;'.html_safe, required: false
            = f.submit :'Assign batch', class: 'btn btn-primary', onclick: "before_mass_action_submit();"
  .row
    %table.table.table-striped#items{'data-toggle' => 'checkboxes', 'data-range' => 'true'}
      %thead
        %tr
        - @helper.headers.each do |header|
          %th= header
:javascript
  $(function() {
    $('#items').DataTable({
      'processing': true,
      'serverSide': true,
      'pageLength': 25,
      'order': [],
      'lengthMenu': [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
      'search': {
        'search': ""
      },
      'columnDefs': [
        {'orderable': false, 'targets': #{@helper.unsortable_columns}}
      ],
      'ajax': {
        'url': "#{@helper.url}"
      }
    })
  })
