.row.vertical-align
  .col-xs-8
    = render layout: 'layouts/page_header' do
      - if content_for?(:title)
        = yield(:title)
      - else
        Project:
      %small #{@project.title}
  .col-xs-4
    .btn-group.pull-right
      = index_button(projects_path)
      = attachments_button(attachments_project_path(@project))
      = edit_button(@project)

= yield