.row.vertical-align
  .col-xs-6
    = render layout: 'layouts/page_header' do
      - if content_for?(:title)
        = yield(:title)
      - else
        Project:
      %small #{@project.title}
  .col-xs-6
    .btn-toolbar.pull-right
      .btn-group
        = link_to 'Add Item', new_item_path(project_id: @project.id), class: 'btn btn-default'
        = index_button(projects_path)
        = attachments_button(attachments_project_path(@project))
        .btn-group
          %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            Export
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'CSV', project_path(@project, format: 'csv')
        = edit_button(@project)
      - if content_for?(:extra_links)
        .btn-group
          = yield(:extra_links)

= yield