.row.vertical-align
  .col-xs-8
    = render layout: 'layouts/page_header' do
      - if content_for?(:title)
        = yield(:title)
      - else
        Project:
      %small #{@project.title}
  .col-xs-4
    .btn-toolbar.pull-right
      .btn-group
        = index_button(projects_path)
        = attachments_button(attachments_project_path(@project))
        = edit_button(@project)
      - if content_for?(:extra_links)
        .btn-group
          = yield(:extra_links)

= yield