= show_field @project, :external_id, 'External id'
= show_field @project, :manager_email
= show_field @project, :owner_email
= show_field @project, :start_date
= show_field @project, :ingest_folder
= show_field @project, :destination_folder_uuid
= show_field @project, :status
= show_value link_to(@project.collection.title, @project.collection), 'Collection'
