.row.vertical-align
  .col-md-4
    = render layout: 'layouts/page_header' do
      Project
  .col-md-8
    .btn-group.pull-right
      = link_to 'Add Project', new_project_path, class: 'btn btn-primary'
      .btn-group
        %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
        Export
        %span.caret
        %ul.dropdown-menu
          %li= link_to 'CSV', projects_path(format: 'csv')

.row
  - cache(cache_key_for_all(Project)) do
    %table.table.table-striped#projects
      %thead
        %tr
          %th Title
          %th Manager
          %th Owner
          %th Start Date
          %th Status
          %th
      %tbody
        - @projects.each do |project|
          - cache(project) do
            %tr
              %td #{link_to project.title, project}
              %td #{project.manager_email}
              %td #{project.owner_email}
              %td #{project.start_date}
              %td #{project.status}
              %td
                = small_edit_button(project)

%br

= link_to 'Add Project', new_project_path, class: 'btn btn-primary'
