- content_for :extra_links do
  %a.btn.btn-default{'data-toggle' => 'collapse', href: '#metadata', 'aria-expanded' => 'false', 'aria-controls' => 'metadata'}
    Metadata
    %span.caret

= render layout: 'layout_single' do

  #metadata.row.collapse
    .col-md-4
      .well
        = show_field @project, :external_id, 'External id'
        = show_field @project, :manager_email
        = show_field @project, :owner_email
        = show_field @project, :start_date
        = show_field @project, :status
    .col-md-8
      %h4 Summary
      .well
        %div.col-md-offset-1= @project.summary.html_safe
      %h4 Specifications
      .well
        %div.col-md-offset-1= @project.specifications.html_safe

  .row#items_container
    = render 'items_table'

  #new_item_form_placeholder