= render layout: 'layout_single' do

  .row
    = show_field @project, :manager_email
    = show_field @project, :owner_email
    = show_field @project, :start_date
    = show_field @project, :status
    = show_field @project, :specifications
    = show_field @project, :summary