-# must pass in accrual_job as a local
%tr{id: "accrual_job_#{accrual_job.id}"}
  %td= accrual_job.id
  %td= accrual_job.created_at.to_date
  %td= accrual_job.file_group.try(:title)
  %td
    #{accrual_job.collection.try(:title)}
    - if accrual_job.collection.try(:external_id).present?
      [#{accrual_job.collection.external_id}]
  %td= accrual_job.user.net_id
  %td= link_to(fa_icon('eye'), view_report_workflow_accrual_job_path(accrual_job), remote: true, title: 'View Report', class: 'btn btn-default btn-xs') if accrual_job.has_report?
  %td{id: "accrual_status_#{accrual_job.id}", class: accrual_conflict_indicator_class(accrual_job)}
    #{accrual_job.status_label}
    - if accrual_job.state == 'copying'
      (#{accrual_job.workflow_accrual_keys.count})
  %td.dropdown{id: "accrual_actions_#{accrual_job.id}"}
    - if accrual_job.approvable_by?(current_user)
      %a.btn.btn-default.btn-xs.dropdown-toggle{role: 'button', 'data-toggle' => 'dropdown', 'aria-expanded' => false, href: '#', title: 'Actions'}
        = fa_icon('cog')
        %span.caret
      = render partial: 'accruals/accrual_workflow_actions', locals: {accrual_job: accrual_job}
