:plain

The Medusa system would like to remind you that the event:

#{@event.message}

is scheduled for the #{@eventable.class.to_s.underscore.humanize} #{@eventable.decorate.label}

on #{@event.action_date.to_s}.

You can view the event at:

#{url_for(only_path: false, action: 'events', controller: @eventable.class.to_s.pluralize.underscore, id: @eventable.id)}