%p Name: #{@deposit_files.name}

%p Email: #{@deposit_files.email}

%p Department: #{@deposit_files.department}

%p Collection Name: #{@deposit_files.collection_name}

%p File Location: #{@deposit_files.file_location}

%p Notes: #{@deposit_files.notes}
