%p Name: #{@request_training.name}
%p Email: #{@request_training.email}
%p Department: #{@request_training.department}
%p Date: #{@request_training.date}
%p Trainees: #{@request_training.trainees}
%p Notes: #{@request_training.notes}