- if @cfs_files.blank?
  No files found with name #{@search_string}.
- else
  %p
    - if @cfs_files.count == SearchesController::SEARCH_LIMIT
      Searches are limited to #{@cfs_files.count} results. Try a more specific
      search string if needed.
    -else
      #{@cfs_files.count} #{'result'.pluralize(@cfs_files.count)} found.
  %table.table.table-striped#search_results
    %thead
      %tr
        %th Filename
        %th Path
        %th File Group
        %th Collection
    %tbody
      - @cfs_files.each do |cfs_file|
        - file_group = cfs_file.try(:file_group)
        - collection = file_group.try(:collection)
        %tr
          %td= link_to(cfs_file.name, cfs_file_path(cfs_file))
          %td= cfs_file.cfs_directory.path
          %td= link_to(file_group.title, file_group_path(file_group)) if file_group.present?
          %td= link_to(collection.title, collection_path(collection)) if collection.present?