- if @cfs_files.blank?
  No files found with name #{@search_string}.
- else
  %p
    #{@cfs_files.count} #{'result'.pluralize(@cfs_files.count)} found.
  = render partial: 'cfs_files/table'
  = will_paginate @cfs_files, renderer: BootstrapPagination::Rails, params: {search: {filename: @search_string}}

