%ul.nav.nav-tabs#search_tables
  - @helpers.each.with_index do |helper, i|
    %li
      %a{href: "##{helper.tab_id}", 'data-toggle' => 'tab', title: helper.tab_label}
        = helper.tab_label
        %span.indicator-icon= fa_icon('spinner', class: 'search-unknown')

.tab-content
  - @helpers.each do |helper|
    .tab-pane{id: helper.tab_id}
      %table.table.table-striped{id: helper.table_id}
        %thead
          %tr
            - helper.headers.each do |header|
              %th= header
      :javascript
        $(document).ready(function() {
          $("##{helper.table_id}").DataTable({
            "processing": true,
            "serverSide": true,
            "pageLength": 25,
            "order" : [[0, 'asc']],
            "search": {
              "search": "#{helper.initial_search_string}"
            },
            'columnDefs': [
              {'orderable': false, 'targets': #{helper.columns_tagged(:unsortable)}}
            ],
            "ajax": {
              "url": "#{helper.url}",
              "complete": function (xhr) {
                if (xhr.status == 200) {
                  indicate_search_results_in_tab_header(xhr.responseJSON.recordsFiltered, "##{helper.tab_id}");
                }
              }
            }
          })
        });

-# kludge to get the tab to actually show
:javascript
  $(function() {
    $("a[title='#{@helpers.first.tab_label}']").trigger('click');
  });
