.btn-group
  = assessments_button(assessments_file_group_path(@file_group))
  = render 'actions_events'
  = red_flags_button(red_flags_file_group_path(@file_group))
  = attachments_button(attachments_file_group_path(@file_group))
  = render 'actions_run'
  - if @directory.present?
    = render 'actions_download'
    = render 'actions_report'

  = edit_button(@file_group)
