.btn-group
  - if @file_group.public? and public_view_on?
    = link_to 'Public View', public_file_group_path(@file_group), class: 'btn btn-default'
  = assessments_button(assessments_file_group_path(@file_group))
  = events_button(events_file_group_path(@file_group))
  = link_to '#addScheduledEventModal', role: 'button', 'data-toggle' => 'modal', class: 'btn btn-default', title: 'Schedule Event' do
    = fa_icon 'clock-o'
    = fa_icon 'newspaper-o'
  = link_to '#addEventModal', role: 'button', 'data-toggle' => 'modal', class: 'btn btn-default', title: 'Add Event' do
    = fa_icon 'plus'
    = fa_icon 'newspaper-o'
  - if @file_group.respond_to?(:all_red_flags)
    = red_flags_button(red_flags_file_group_path(@file_group))
  = attachments_button(attachments_file_group_path(@file_group))
  .btn-group
    %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', title: 'Run'}
      = fa_icon('cog')
      %span.caret
    %ul.dropdown-menu.dropdown-menu-right
      - if @directory.present? and safe_can?(:update, @file_group)
        %li= link_to 'Create FITS', create_cfs_fits_bit_level_file_group_path(@file_group), method: 'post'
      - if @directory.present? and safe_can?(:update, @file_group)
        %li= link_to 'Fixity check', fixity_check_bit_level_file_group_path(@file_group), method: :post
      - if @file_group.is_a?(BitLevelFileGroup) and @file_group.is_currently_assessable?
        %li= link_to 'Run Simple Assessment', create_initial_cfs_assessment_bit_level_file_group_path(@file_group), method: :post
      - if @file_group.is_a?(ExternalFileGroup) and @file_group.ready_for_bit_level_ingest? and safe_can?(:ingest, @file_group)
        %li= link_to 'Approve for ingest', ingest_external_file_group_path(@file_group), method: :post, data: {confirm: 'Are you sure?'}
  - if @directory.present? and can?(:export, @file_group)
    .btn-group
      %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', title: 'Download'}
        = fa_icon('download')
        %span.caret
      %ul.dropdown-menu.dropdown-menu-right
        %li= link_to 'Download Files', export_cfs_directory_path(@directory), method: :post
        %li= link_to 'Download Files and All Subdirectories', export_tree_cfs_directory_path(@directory), method: :post

  = edit_button(@file_group)
