.btn-group
  %button.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', title: 'Run', value: 'Run', button: :button}
    = fa_icon('cog')
    %span.caret
  %ul.dropdown-menu.dropdown-menu-right{role: :menu}
    - if @file_group.is_a?(BitLevelFileGroup) and @file_group.is_currently_assessable?
      %li= link_to 'Run Simple Assessment', create_initial_cfs_assessment_bit_level_file_group_path(@file_group), method: :post
    - if @file_group.is_a?(ExternalFileGroup) and @file_group.lacks_related_bit_level_file_group? and safe_can?(:update, @file_group)
      %li= link_to 'Create Bit Level File Group', create_bit_level_external_file_group_path(@file_group), method: :post
    - if @accrual.present? and safe_can?(:accrue, @directory)
      - if @accrual.directory_accruable?
        %li= link_to 'Add files', '#', 'data-toggle' => 'modal', 'data-target' => '#add-files-dialog'
      - else
        %li= link_to 'Add files', '#', 'data-toggle' => 'modal', 'data-target' => '#cant-add-files-dialog'