.btn-group
  - if @file_group.public? and public_view_on?
    = link_to 'Public View', public_file_group_path(@file_group), class: 'btn btn-default'
  = assessments_button(assessments_file_group_path(@file_group))
  .btn-group
    %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', title: 'Events'}
      = fa_icon('newspaper-o')
      %span.caret
    %ul.dropdown-menu.dropdown-menu-right
      %li= link_to('View Events', events_file_group_path(@file_group))
      %li= link_to('Add Event', '#addEventModal', 'data-toggle' => 'modal', title: 'Add Event')
  = red_flags_button(red_flags_file_group_path(@file_group))
  = attachments_button(attachments_file_group_path(@file_group))
  .btn-group
    %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', title: 'Run', value: 'Run', href: '#'}
      = fa_icon('cog')
      %span.caret
    %ul.dropdown-menu.dropdown-menu-right
      - if @directory.present? and safe_can?(:update, @file_group)
        %li= link_to 'Create FITS', create_cfs_fits_bit_level_file_group_path(@file_group), method: 'post'
      - if @directory.present? and safe_can?(:update, @file_group)
        %li= link_to 'Fixity check', fixity_check_bit_level_file_group_path(@file_group), method: :post
      - if @file_group.is_a?(BitLevelFileGroup) and @file_group.is_currently_assessable?
        %li= link_to 'Run Simple Assessment', create_initial_cfs_assessment_bit_level_file_group_path(@file_group), method: :post
      - if @file_group.is_a?(ExternalFileGroup) and @file_group.ready_for_bit_level_ingest? and safe_can?(:ingest, @file_group)
        %li= link_to 'Approve for ingest', ingest_external_file_group_path(@file_group), method: :post, data: {confirm: 'Are you sure?'}
      - if @file_group.is_a?(ExternalFileGroup) and @file_group.lacks_related_bit_level_file_group? and safe_can?(:update, @file_group)
        %li= link_to 'Create Bit Level File Group', create_bit_level_external_file_group_path(@file_group), method: :post
      - if @accrual.present? and safe_can?(:accrue, @directory)
        %li= link_to 'Add files', '#', 'data-toggle' => 'modal', 'data-target' => '#add-files-dialog'
  - if @directory.present?
    .btn-group
      %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', title: 'Download', href: '#'}
        = fa_icon('download')
        %span.caret
      %ul.dropdown-menu.dropdown-menu-right
        - if can?(:export, @file_group)
          %li= link_to 'Download Files', export_cfs_directory_path(@directory), method: :post, remote: true
          %li= link_to 'Download Files and All Subdirectories', export_tree_cfs_directory_path(@directory), method: :post, remote: true
        %li= link_to 'TSV', show_tree_cfs_directory_path(@directory, format: :tsv)

  = edit_button(@file_group)
