- if @file_group.amazon_backups.present?
  = render layout: 'layouts/standard_table', locals: {id: 'amazon-backups-table', headers: %i(Date Completed User)} do
    - @file_group.amazon_backups.each do |amazon_backup|
      %tr
        %td= amazon_backup.date
        %td= amazon_backup.completed? ? 'Yes' : 'No'
        %td= amazon_backup.user.uid
- else
  %div
    No Amazon Backups

%div
  - unless @file_group.amazon_backups.detect {|backup| backup.date == Date.today}
    = link_to 'Create backup', create_amazon_backup_bit_level_file_group_path(@file_group), class: 'btn btn-default', method: :post