= simple_form_for @file_group, :html => {:class => 'form-horizontal'} do |f|
  .row
    = render :partial => 'sidebar', :locals => {:f => f}
    .span9
      .tabbable
        = render :partial => 'shared/tab_header', :locals => {:id => 'edit-tabs', :tabs => file_group_form_tab_list}
        .tab-content
          #base.tab-pane.active
            = f.input :collection_id, :as => :hidden, :input_html => {:value => @collection.id}
            = f.input :name
            = f.input :storage_level, :as => :select, :include_blank => false, :collection => FileGroup::STORAGE_LEVELS
            = f.input :producer_id, :collection => producers_select_collection
            = f.input :file_type_id, :collection => file_types_select_collection
            = f.input :external_file_location
            = f.input :staged_file_location
            = f.input :file_format
            = f.input :total_file_size, :label => 'Total file size (GB)'
            = f.input :total_files
          #summary.tab-pane
            = f.input :summary
          #provenance-note.tab-pane
            = f.input :provenance_note, :label => 'Provenance Note'
          #rights-declaration.tab-pane
            = render :partial => 'rights_declarations/nested_form', :locals => {:containing_form => f, :rights_declaration => @file_group.rights_declaration}
          #collection-file-package-summary.tab-pane
            = f.simple_fields_for :collection, @collection do |c|
              = c.input :file_package_summary, :label => "Collection File Package Summary"
          #related-file-groups.tab-pane
            .control-group.check_boxes.optional
              %label.check_boxes.optional.control-label
                Related file groups
              %br
              %br
              .controls
                - @file_group.sibling_file_groups.each do |related_file_group|
                  .row
                    .span3
                      %label.checkbox
                        %input.check_boxes.optional{:id => "file_group_related_file_group_ids_#{related_file_group.id}",
                                                    :value => related_file_group.id, :type => 'checkbox',
                                                    :name => "file_group[related_file_group_ids][]",
                                                    :checked => @file_group.related_file_groups.include?(related_file_group)}
                        #{related_file_group.name}
                    .span4
                      %label.text
                        Note
                        %input.string.optional{:size => 50, :type => 'text', :value => @file_group.relation_note(related_file_group),
                                               :name => "file_group[related_file_group_notes][#{related_file_group.id}]",
                                               :id => "file_group_related_file_group_notes_#{related_file_group.id}"}
                %input{:name => "file_group[related_file_group_ids][]",
                       :type => 'hidden', :value => ''}









