- url, method = @file_group.new_record? ? [file_groups_path(@file_group), :post] : [file_group_path(@file_group), :put]
= simple_form_for :file_group, :url => url, :method => method, :html => {:class => 'form-horizontal'} do |f|
  .row
    = render :partial => 'sidebar', :locals => {:f => f}
    .span9
      .tabbable
        = render :partial => 'shared/tab_header', :locals => {:id => 'edit-tabs', :tabs => file_group_form_tab_list}
        .tab-content
          #base.tab-pane.active
            = render 'form_base_fields', :f => f
          #summary.tab-pane
            = f.input :summary
          #provenance-note.tab-pane
            = f.input :provenance_note, :label => 'Provenance Note'
          #rights-declaration.tab-pane
            = render :partial => 'rights_declarations/nested_form', :locals => {:containing_form => f, :rights_declaration => @file_group.rights_declaration}
          #collection-file-package-summary.tab-pane
            = f.simple_fields_for :collection, @collection do |c|
              = c.input :file_package_summary, :label => "Collection File Package Summary"
          #related-file-groups.tab-pane
            = render :partial => 'form_related_file_groups'
