= f.input :collection_id, :as => :hidden, :input_html => {:value => @collection.id}
= f.input :name
- if @file_group.new_record?
  = f.input :storage_level, :as => :select, :include_blank => false, :collection => FileGroup::STORAGE_LEVELS
- else
  = f.input :storage_level, :disabled => true
= f.input :producer_id, :collection => producers_select_collection
= f.input :package_profile_id, :as => :select, :include_blank => true, :collection => package_profile_select_collection
= f.input :file_type_id, :collection => file_types_select_collection
= f.input :external_file_location
= f.input :staged_file_location
= f.input :cfs_root, :as => :select, :include_blank => true, :collection => cfs_directory_select_collection
= f.input :file_format
= f.input :total_file_size, :label => 'Total file size (GB)'
= f.input :total_files
