.row
  .col-xs-5
    %div= breadcrumbs(@file_group)
  .col-xs-7
    = render 'actions'

%br
= yield

= render partial: 'events/modal_form', locals: {eventable: @file_group, remote: false, dialog_id: :addEventModal}
= render partial: 'scheduled_events/form', locals: {eventable: @file_group, remote: false, dialog_id: :addScheduledEventModal}
