= show_field @file_group, :title
= show_field @file_group, :external_id, 'External ID'
= show_field @file_group, :id
= show_field @file_group, :uuid
= show_field @file_group, :storage_level
= show_value((link_to(@file_group.producer.title, @file_group.producer) if @file_group.producer), 'Production Unit')
%p
  %strong Package Profile:
  - if package_profile = @file_group.package_profile
    = link_to package_profile.name, package_profile_path(package_profile)
    (#{link_to package_profile.url, package_profile.url})
= show_field @file_group, :external_file_location
= show_field @file_group, :staged_file_location
= show_field @file_group, :file_format
= show_value (@file_group.file_size * 1.gigabyte).to_formatted_s(:human_size, precision: 3), 'Total file size'
= show_value @file_group.file_count.to_s(:delimited), 'Total files'
= show_field @file_group, :description
= show_field @file_group, :provenance_note
- if @file_group.source_file_groups.present?
  %p
    %strong Source File Groups
  %ul
    - @file_group.source_file_groups.each do |source_file_group|
      %li
        #{link_to(source_file_group.title, source_file_group)} - #{@file_group.source_relation_note(source_file_group)}
- if @file_group.target_file_groups.present?
  %p
    %strong Target File Groups
  %ul
    - @file_group.target_file_groups.each do |target_file_group|
      %li
        #{link_to(target_file_group.title, target_file_group)} - #{@file_group.target_relation_note(target_file_group)}
