.page_header
  .row
    .col-sm-4
      = render 'show_public_header'

.well
  .row
    = show_field @file_group, :name
    = show_field @file_group, :external_id, 'External ID'
    = show_field @file_group, :id
    = show_field @file_group, :storage_level
    = show_value((link_to(@file_group.producer.title, @file_group.producer) if @file_group.producer), 'Production Unit')
    = show_field @file_group, :file_type_name, 'File type'
    %p
      %strong Package Profile:
      - if package_profile = @file_group.package_profile
        = link_to package_profile.name, package_profile_path(package_profile)
        (#{link_to package_profile.url, package_profile.url})
    = show_field @file_group, :file_format
    = show_value (@file_group.file_size * 1.gigabyte).to_formatted_s(:human_size, precision: 3), 'Total file size'
    = show_value @file_group.file_count.to_s(:delimited), 'Total files'
    = show_field @file_group, :summary
    = show_field @file_group, :provenance_note
