.pull-right
  = link_to 'Edit', edit_file_group_path(@file_group), :class => 'btn'
  = link_to 'Delete', @file_group, :method => :delete, :data => {:confirm => 'This is irreversible. Are you sure?'}, :class => 'btn btn-danger'

.page_header
  %h1 File Group
  %p.lead Collection: #{link_to @collection.title, @collection}
.row
  .span8
    %p
      %strong Production unit:
      %br
      = link_to(@file_group.production_unit.title, @file_group.production_unit) if @file_group.production_unit
    %p
      %strong File type:
      %br
      = @file_group.file_type.try(:name)
    %p
      %strong File location:
      %br
      = @file_group.file_location
    %p
      %strong File format:
      %br
      = @file_group.file_format
    %p
      %strong Storage medium:
      %br
      = @file_group.storage_medium.try(:name)
    %p
      %strong Total file size:
      %br
        #{@file_group.total_file_size} GB
    %p
      %strong Total files:
      %br
      = @file_group.total_files
    %p
      %strong Last access date:
      %br
      = @file_group.last_access_date