.pull-right
  = link_to 'Edit', edit_file_group_path(@file_group), :class => 'btn'
  = link_to 'Delete', @file_group, :method => :delete, :data => {:confirm => generic_confirm_message}, :class => 'btn btn-danger'

.page_header
  %h1 File Group
  %p.lead Collection: #{link_to @collection.title, @collection}
.row
  .span8
    = show_value((link_to(@file_group.producer.title, @file_group.producer) if @file_group.producer), 'Production Unit')
    = show_field @file_group, :file_type_name, 'File type'
    = show_field @file_group, :file_location
    = show_field @file_group, :file_format
    = show_field @file_group, :storage_medium_name
    = show_value "#{@file_group.total_file_size} GB", 'Total file size:'
    = show_field @file_group, :total_files
    = show_field @file_group, :last_access_date
    = show_field @file_group, :summary
    = show_field @file_group, :provenance_note
  .span4
    %p.lead Collection file package summary
    %p= @file_group.collection.file_package_summary
