.pull-right
  = link_to 'Edit', edit_file_group_path(@file_group), :class => 'btn'
  = link_to 'Delete', @file_group, :method => :delete, :data => {:confirm => 'This is irreversible. Are you sure?'}, :class => 'btn btn-danger'

.page_header
  %h1 File Group
  %p.lead Collection: #{link_to @collection.title, @collection}
.row
  .span8
    = show_value((link_to(@file_group.production_unit.title, @file_group.production_unit) if @file_group.production_unit), 'Production Unit')
    = show_field @file_group, :file_type_name, 'File type'
    = show_field @file_group, :file_location
    = show_field @file_group, :file_format
    = show_field @file_group, :storage_medium_name
    = show_value "#{@file_group.total_file_size} GB", 'Total file size:'
    = show_field @file_group, :total_files
    = show_field @file_group, :last_access_date
