.pull-right
  = render 'show_actions'

.page_header
  .row
    .span4
      = render 'show_header'
    .span8
      %p.lead Collection file package summary
      %p= @file_group.collection.file_package_summary_html

.row
  .tabbable
    = render partial: 'shared/tab_header', locals: {id: 'tab-headers', tabs: file_group_show_tab_list}
    .tab-content
      #description-tab.tab-pane.active
        = render 'show_description'
      #rights-tab.tab-pane
        = render :partial => 'rights_declarations/show', :locals => {:rights_declaration => @file_group.rights_declaration}
      #assessments-tab.tab-pane
        = render 'assessments/table'
      #attachments-tab.tab-pane
        =# render 'attachments_table' if logged_in?

= render :partial => 'events/form', :locals => {:eventable => @file_group, :remote => false, :dialog_id => :addEventModal}
= render :partial => 'scheduled_events/form', :locals => {:eventable => @file_group, :remote => false, :dialog_id => :addScheduledEventModal}
