= render layout: 'layout_single' do
  .row
    .page_header
      = render 'show_header'

  .row
    .tabbable
      = render partial: 'shared/tab_header', locals: {id: 'tab-headers', tabs: file_group_show_tab_list}
      .tab-content
        #descriptive-metadata.tab-pane.active
          = render 'show_descriptive_metadata'
        #administrative-metadata.tab-pane
          = render 'show_administrative_metadata'
        #rights-metadata.tab-pane
          = render partial: 'rights_declarations/show', locals: {rights_declaration: @file_group.rights_declaration}
        #assessments.tab-pane
          = render 'assessments/table'
        #attachments.tab-pane
          = render 'attachments_table' if logged_in?
        - if @file_group.cfs_directory.present?
          #amazon.tab-pane
            = render 'amazon_backups'

  = render partial: 'events/modal_form', locals: {eventable: @file_group, remote: false, dialog_id: :addEventModal}
  = render partial: 'scheduled_events/form', locals: {eventable: @file_group, remote: false, dialog_id: :addScheduledEventModal}
