.file-format-note{id: "file_format_note_#{note.id}"}
  .well
    %div
      - if can?(:update, @file_format)
        .pull-right
          = link_to 'Edit', edit_note_path(note), class: 'btn btn-xs btn-default', remote: true, title: 'Edit Note', role: :button
          = link_to 'Delete', note_path(note), class: 'btn btn-xs btn-danger', remote: true, method: :delete, data: {confirm: 'Are you sure? This cannot be undone.'}, title: 'Delete Note', role: :button
      .show-value
        #{note.user.netid} - #{note.date}
    .show-value
      #{note.note_html}