-# must pass in f, the form
= field_set_tag('Administrative Metadata') do
  .col-sm-5
    = f.input :barcode, input_html: {class: 'barcode_input'}, autofocus: true
    = f.input :item_number
    = f.input :project_id, as: :hidden, input_html: {value: @item.project.id}
    = f.input :item_id, as: :hidden, input_html: {class: 'item_id', value: @item.id}
    = f.input :local_title
    = f.input :batch
    = f.input :file_count
    = f.input :status, as: :select, collection: items_statuses_collection, allow_blank: true, include_blank: false
    = f.input :reformatting_date, as: :string, input_html: {class: 'datepicker', value: @item.reformatting_date.if_blank(Date.today.to_s)}
    = f.input :reformatting_operator
    = f.input :equipment, as: :select, collection: items_equipment_collection, allow_blank: true, include_blank: false
    = f.input :foldout_present, as: :boolean, wrapper: :horizontal_radio_and_checkboxes
    = f.input :foldout_done, as: :boolean, wrapper: :horizontal_radio_and_checkboxes
    = f.input :item_done, as: :boolean, wrapper: :horizontal_radio_and_checkboxes
    = f.input :ingested, as: :boolean, wrapper: :horizontal_radio_and_checkboxes
  .col-sm-5
    = f.input :notes
    = f.input :local_description
