-#Must pass form variable f
-#Must pass object
-#May pass cancel_return - object or path to go to if the form is cancelled. Default is to show obj.
- cancel_return ||= object
.col-sm-2
  .btn-group
    = f.button :submit, class: 'btn btn-primary btn-sm', value: (object.new_record? ? 'Create' : 'Update'), onclick: "$('.modal').modal('hide');"
    - if defined?(@remote) and @remote
      = link_to('Cancel', '#', class: 'btn btn-default btn-sm', onclick: "$('.modal').modal('hide'); return false;")
    - else
      = link_to('Cancel', cancel_return, class: 'btn btn-default btn-sm')
    - if object.new_record?
      = f.button :submit, class: 'btn btn-primary btn-sm', value: 'Create and Exit', onclick: "$('.modal').modal('hide');"
    - if object.persisted? and safe_can?(:delete, object)
      = delete_button(object, options: {class: 'btn btn-danger btn-sm'})

  - if content_for?(:form_sidebar_extra)
    = content_for(:form_sidebar_extra)
