= show_field @item, :unique_identifier
= show_field @item, :record_series_id, 'Record Series Id'
= show_field @item, :archival_management_system_url
= show_field @item, :series
= show_field @item, :sub_series, 'Sub-series'
= show_field @item, :box
= show_field @item, :folder
= show_field @item, :item_title
= show_field @item, :source_media
= show_field @item, :creator
= show_field @item, :date
= show_field @item, :rights_information
