= render layout: 'layout_single' do

  .row
    .col-md-4
      = show_field @item, :barcode
      = show_field @item, :bib_id
      = show_field @item, :oclc_number
      = show_field @item, :call_number
      = show_field @item, :book_name
      = show_field @item, :title
      = show_field @item, :author
      = show_field @item, :imprint
      = show_field @item, :photo_date
    .col-md-8
      %h4 Notes
      %div= @item.notes
