.row.vertical-align
  .col-xs-7
    = render layout: 'layouts/page_header' do
      - if content_for?(:title)
        = yield(:title)
      - else
        File:
      %small #{@file.name}
  .col-xs-5
    .btn-group.pull-right
      - if @file.public? and public_view_on?
        = link_to 'Public View', public_cfs_file_path(@file), class: 'btn btn-default'
      = events_button(events_cfs_file_path(@file))
      .btn-group
        %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', title: 'Run', href: '#'}
          = fa_icon('cog')
          %span.caret
        %ul.dropdown-menu.dropdown-menu-right
          - unless @file.fits_xml
            %li= link_to 'Create FITS', create_fits_xml_cfs_file_path(@file)
          %li= link_to 'Fixity check', fixity_check_cfs_file_path(@file), method: :post
      .btn-group
        %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', title: 'Download'}
          = fa_icon('download')
          %span.caret
        %ul.dropdown-menu.dropdown-menu-right
          %li= link_to 'Download', download_cfs_file_path(@file)
          %li= link_to 'JSON', cfs_file_path(@file, format: :json)
      = view_button(view_cfs_file_path(@file))
      - if @file.file_format_test.present?
        = fa_icon_link_to('Edit File format test', 'trophy', edit_file_format_test_path(@file.file_format_test), class: 'btn btn-default')
      - else
        = fa_icon_link_to('Create File format test', 'trophy', new_file_format_test_path(cfs_file_id: @file.id), class: 'btn btn-default')
= yield