.row.vertical-align
  .col-xs-7
    = render layout: 'layouts/page_header' do
      - if content_for?(:title)
        = yield(:title)
      - else
        File:
      %small #{@file.name}
  .col-xs-5
    .btn-group.pull-right
      - if @file.public? and public_view_on?
        = link_to 'Public View', public_cfs_file_path(@file), class: 'btn btn-default'
      = events_button(events_cfs_file_path(@file))
      = fixity_check_button(fixity_check_cfs_file_path(@file))
      = download_button(download_cfs_file_path(@file))
      = view_button(view_cfs_file_path(@file))

= yield