- content_for :public_body do
  = link_to('Download', public_download_cfs_file_path(@file))
  |
  = link_to('View', public_view_cfs_file_path(@file))
  %br
  = render "public_preview_viewer_#{@preview_viewer_type}"
- content_for :public_metadata do
  = show_value @file.md5_sum, 'MD5'
  - if @file.size
    = show_value @file.size.to_formatted_s(:human_size, precision: 3), 'File size'
  = show_value @file.content_type_name, 'Mimetype'
= render 'shared/public_body'