= render 'show_breadcrumbs'

%h1 File information

.row
  .span12
    = link_to('Download', download_cfs_file_path(@file))
    |
    = link_to('View', view_cfs_file_path(@file))

.row
  .span4
    = show_value @file.name, 'File name'
    = show_value 'bit-level', 'Storage level'
    = show_value @file.md5_sum, 'MD5'
    %p
      %strong FITS:
      - if @file.fits_xml
        = link_to('View XML', fits_xml_cfs_file_path(@file))
      -else
        = link_to('Create XML', create_fits_xml_cfs_file_path(@file))
    - if @file_group
      %p
        %strong Belongs to:
        #{link_to(@file_group.name, @file_group)}
    - if @file.size
      = show_value @file.size.to_formatted_s(:human_size, precision: 3), 'File size'
    = show_value @file.content_type, 'Mimetype'
    - if @file.red_flags.present?
      %div
        Red flags:
        %ul
          - @file.red_flags.each do |red_flag|
            %li= red_flag.message
  .span8
    = render 'preview_viewer'