%h2
  Collections

%div
  %table.table.table-striped#collections
    %thead
      %tr
        %th External ID
        %th Title
        %th Repository
        %th Contact
        %th Size (GB)
        %th Preservation Priority
        %th
    %tbody
      - @producer.collections.each do |collection|
        %tr
          %td #{collection.external_id}
          %td #{link_to collection.title, collection}
          %td #{link_to collection.repository.title, collection.repository}
          %td #{collection.contact_email}
          %td #{collection.total_size}
          %td #{collection.preservation_priority_name}
          %td
            = small_edit_button(collection)
