= simple_form_for @producer, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
  .row
    - content_for(:form_sidebar_extra) do
      %hr
      = render 'shared/definitions/producer'
    = render partial: 'shared/form_sidebar', locals: {f: f, object: @producer, cancel_return: (producers_path if @producer.new_record?)}

    .col-sm-9
      .tabbable
        = render partial: 'shared/tab_header', locals: {id: 'edit-tabs', tabs: producer_form_tab_list}
        .tab-content
          #base.tab-pane.active
            = f.input :title
            = f.input :administrator_email, label: 'Administrator Email'
            = f.input :address_1
            = f.input :address_2
            = f.input :city
            = f.input :state
            = f.input :zip
            = f.input :phone_number, label: 'Phone Number', type: :tel
            = f.input :email, type: :email
            = f.input :url, label: 'URL', type: :url
            = f.input :active_start_date, as: :string, input_html: {class: 'datepicker'}, label: 'Active Start Date'
            = f.input :active_end_date, as: :string, input_html: {class: 'datepicker'}, label: 'Active End Date'
          #notes.tab-pane
            = f.input :notes
