= simple_form_for @producer, :html => {:class => 'form-horizontal'} do |f|
  = f.input :title
  = f.input :administrator_net_id, :label => 'Adminstrator Net ID'
  = f.input :address_1
  = f.input :address_2
  = f.input :city
  = f.input :state
  = f.input :zip
  = f.input :phone_number, :label => 'Phone Number'
  = f.input :email
  = f.input :url, :label => 'URL'
  = f.input :active_start_date, :label => 'Active Start Date', :as => :string, :use_month_numbers => true, :input_html => {'data-datepicker' => 'datepicker'}, :order => [:day, :month, :year]
  = f.input :active_end_date, :label => 'Active End Date', :as => :string, :use_month_numbers => true, :input_html => {'data-datepicker' => 'datepicker'}, :order => [:day, :month, :year]
  = f.input :notes
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    - if @producer.new_record?
      = link_to('Index', producers_path, :class => 'btn')
    - else
      = link_to(t('.cancel', :default => t('helpers.links.cancel')), @producer, :class => 'btn')