= render layout: 'layouts/page_header' do
  Producer

= render 'shared/definitions/producer'

%table.table.table-striped#producers
  %thead
    %tr
      %th Title
      %th Administrator
      %th URL
      %th
  %tbody
    - @producers.each do |producer|
      %tr
        %td #{link_to producer.title, producer}
        %td #{producer.administrator_email}
        %td #{link_to_external producer.url, producer.url}
        %td
          = small_view_button(producer)
          = small_edit_button(producer)

%br

= link_to 'New Producer', new_producer_path, class: 'btn btn-primary'
