= render layout: 'layout_single' do

  = render layout: 'layouts/page_header' do
    #{@producer.title}

  .row
    .col-sm-3#sidebar
      .well
        = show_field @producer, :administrator_email
        = render partial: 'shared/contact_information', locals: {contact_object: @producer}
        = show_value link_to_external(@producer.url, @producer.url), 'URL'
        = show_field @producer, :active_start_date, 'Active Start Date'
        = show_field @producer, :active_end_date, 'Active End Date'
        = show_field @producer, :notes_html, 'Notes'

    .col-sm-9#content
      %a.toggles{href: '#', rel: 'tooltip', title: 'Hide or show the sidebar' }
        %span.glyphicon.glyphicon-arrow-left
      = render 'collections_table'
