:plain

Progress update for your Amazon Glacier backup.

Completed parts: #{@amazon_backup.completed_part_count}
Total parts: #{@amazon_backup.part_count}

The following part has completed:

#{@amazon_backup.glacier_description(@part)}

- if @workflow_ingest
  This is part of the automatic ingest of the file group '#{@workflow_ingest.bit_level_file_group.name}'
  from the collection '#{@workflow_ingest.bit_level_file_group.collection.title}'.
