%p
  The file group you wish to delete has associate content in the database or
  in file storage. Your request must be approved by a Medusa administrator.
  Please submit a reason for the deletion and your request will be forwarded
  to and evaluated by an appropriate Medusa administrator.

%div
  = simple_form_for @workflow, html: {class: 'form-horizontal'} do |f|
    = f.input :requester_reason
    = f.input :file_group_id, as: :hidden, input_html: {value: @file_group.id}
    = submit_button(f, label: 'Create')
    = cancel_and_go_to_button(file_group_path(@file_group))

