.page_header
  %h1 Statistics

%table.table.mbt-item-counts
  %tr
    %th{:rowspan => 4}
      = @num_items
      items
    %th HathiTrust
    %th Internet Archive
  %tr
    %td.text-success
      = link_to(@num_items_in_ht, book_tracker_items_path(ht: 1))
      present
    %td.text-success
      = link_to(@num_items_in_ia, book_tracker_items_path(ia: 1))
      present
  %tr
    %td.text-danger
      = link_to(@num_items_not_in_ht, book_tracker_items_path(ht: 0))
      missing
    %td.text-danger
      = link_to(@num_items_not_in_ia, book_tracker_items_path(ia: 0))
      missing
  %tr
    %td.text-danger
      = link_to(@num_ht_items_not_in_ia, book_tracker_items_path(ht: 1, ia: 0))
      not in Internet Archive
    %td.text-danger
      = link_to(@num_ia_items_not_in_ht, book_tracker_items_path(ht: 0, ia: 1))
      not in HathiTrust
  %tr
    %td
      in MARCXML files in
      = @import_path
    %td
    %td
