.page_header
  %h1 Statistics

%table.table.mbt-item-counts
  %tr
    %th{:rowspan => 5}
      =number_with_delimiter(@num_items, :delimiter => ',')
      items
    %th HathiTrust
    %th Internet Archive
    %th Google
  %tr
    %td.text-success
      = link_to(number_with_delimiter(@num_items_in_ht, :delimiter => ','), book_tracker_items_path(ht: 1))
      present
    %td.text-success
      = link_to(number_with_delimiter(@num_items_in_ia, :delimiter => ','), book_tracker_items_path(ia: 1))
      present
    %td.text-success
      = link_to(number_with_delimiter(@num_items_in_gb, :delimiter => ','), book_tracker_items_path(gb: 1))
      present
  %tr
    %td.text-danger
      = link_to(number_with_delimiter(@num_items_not_in_ht, :delimiter => ','), book_tracker_items_path(ht: 0))
      missing
    %td.text-danger
      = link_to(number_with_delimiter(@num_items_not_in_ia, :delimiter => ','), book_tracker_items_path(ia: 0))
      missing
    %td.text-danger
      = link_to(number_with_delimiter(@num_items_not_in_gb, :delimiter => ','), book_tracker_items_path(gb: 0))
      missing
  %tr
    %td.text-danger
      = link_to(number_with_delimiter(@num_ht_items_not_in_ia, :delimiter => ','), book_tracker_items_path(ht: 1, ia: 0))
      not in Internet Archive
    %td.text-danger
      = link_to(number_with_delimiter(@num_ia_items_not_in_ht, :delimiter => ','), book_tracker_items_path(ht: 0, ia: 1))
      not in HathiTrust
    %td.text-danger
      = link_to(number_with_delimiter(@num_gb_items_not_in_ht, :delimiter => ','), book_tracker_items_path(ht: 0, gb: 1))
      not in HathiTrust
  %tr
    %td.text-danger
      = link_to(number_with_delimiter(@num_ht_items_not_in_gb, :delimiter => ','), book_tracker_items_path(ht: 1, gb: 0))
      not in Google
    %td.text-danger
      = link_to(number_with_delimiter(@num_ia_items_not_in_ht, :delimiter => ','), book_tracker_items_path(ia: 1, gb: 0))
      not in Google
    %td.text-danger
      = link_to(number_with_delimiter(@num_gb_items_not_in_ia, :delimiter => ','), book_tracker_items_path(ia: 0, gb: 1))
      not in Internet Archive
  %tr
    %td
      in MARCXML files in
      = @import_path
    %td
    %td
    %td
