-# must pass archived_accrual_job
- cache(archived_accrual_job) do
  %tr
    %td= archived_accrual_job.created_at.to_date
    %td
      - if archived_accrual_job.file_group.present?
        = link_to archived_accrual_job.file_group.title, archived_accrual_job.file_group
      - else
        No longer in system
    %td= archived_accrual_job.staging_path
    %td= archived_accrual_job.state
    %td= archived_accrual_job.user.email
    %td= small_view_button(archived_accrual_job)