- if @tasks.any?
  %table.table.table-striped
    %thead
      %tr
        %th
          Task
        %th
          Status
        %th
          Progress
        %th
          Started
        %th
          Completed
    %tbody
      - @tasks.each do |task|
        %tr
          %td= task.name
          %td{class: bootstrap_class_for_status(task.status)}
            = BookTracker::Status::to_s(task.status)
          %td= (task.percent_complete * 100).round(1).to_s + '%'
          %td= local_time_ago(task.created_at)
          %td= task.completed_at ? local_time_ago(task.completed_at) : ''
- else
  %p
    No tasks in progress.
