<% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>PID</th>
        <th>Task</th>
        <th>Status</th>
        <th>Progress</th>
        <th>Started</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.pid %></td>
          <td><%= task.name %></td>
          <td class="<%= bootstrap_class_for_status(task.status) %>">
            <%= BookTracker::Status::to_s(task.status) %>
          </td>
          <td><%= (task.percent_complete * 100).round(1) %>%</td>
          <td><%= local_time_ago(task.created_at) %></td>
          <td><%= task.completed_at ? local_time_ago(task.completed_at) : '' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No tasks in progress.</p>
<% end %>
