<% provide(:body_id, 'tasks') %>

<div class="page-header">
  <h1 class="title">Tasks</h1>
</div>

<table class="table mbt-item-counts">
  <tr>
    <th rowspan="3"><%= @num_items %> items</th>
    <th>HathiTrust</th>
    <th>Internet Archive</th>
  </tr>
  <tr>
    <td class="text-success"><%= @num_items - @num_items_not_in_ht %> present</td>
    <td class="text-success"><%= @num_items - @num_items_not_in_ia %> present</td>
  </tr>
  <tr>
    <td class="text-danger"><%= @num_items_not_in_ht %> missing</td>
    <td class="text-danger"><%= @num_items_not_in_ia %> missing</td>
  </tr>
</table>

<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= form_tag(book_tracker_import_path, method: 'post') do %>
            Filesystem
            <%= submit_tag('Import', class: 'btn btn-default btn-xs') %>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Import path</dt>
          <dd><%= MedusaRails3::Application.medusa_config['book_tracker']['import_path'] %></dd>
          <dt>Last import</dt>
          <dd>
            <% if @last_fs_import %>
              <% if @last_fs_import.completed_at %>
                <%= local_time_ago(@last_fs_import.completed_at) %>
              <% else %>
                In Progress
              <% end %>
            <% else %>
              Unknown
            <% end %>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= form_tag(book_tracker_check_hathitrust_path, method: 'post') do %>
            HathiTrust
            <%= submit_tag('Check', class: 'btn btn-default btn-xs') %>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Last check</dt>
          <dd>
            <% if @last_ht_check and @last_ht_check.completed_at %>
              <%= local_time_ago(@last_ht_check.completed_at) %>
            <% else %>
              Unknown
            <% end %>
          </dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= form_tag(book_tracker_check_internet_archive_path, method: 'post') do %>
            Internet Archive
            <%= submit_tag('Check', class: 'btn btn-default btn-xs') %>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Last check</dt>
          <dd>
            <% if @last_ia_check and @last_ia_check.completed_at %>
              <%= local_time_ago(@last_ia_check.completed_at) %>
            <% else %>
              Unknown
            <% end %>
          </dd>
        </dl>
      </div>
    </div>
  </div>

</div>

<input type="hidden" name="auto-update-frequency" value="4000">
<div id="tasks_list">
  <%= render partial: 'tasks' %>
</div>
