.page-header
  %h1.title
    Tasks

.row
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = form_tag(book_tracker_import_path, method: 'post') do
            Filesystem
            = submit_tag('Import', class: 'btn btn-default btn-xs')
      .panel-body
        %dl
          %dt
            Last import
          %dd
            - if @last_fs_import
              - if @last_fs_import.completed_at
                = local_time_ago(@last_fs_import.completed_at)
              - else
                In Progress
            - else
              Unknown

  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = form_tag(book_tracker_check_hathitrust_path, method: 'post') do
            HathiTrust
            = submit_tag('Check', class: 'btn btn-default btn-xs')
      .panel-body
        %dl
          %dt
            Last check
          %dd
            - if @last_ht_check and @last_ht_check.completed_at
              = local_time_ago(@last_ht_check.completed_at)
            - else
              Unknown

  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = form_tag(book_tracker_check_internet_archive_path, method: 'post') do
            Internet Archive
            = submit_tag('Check', class: 'btn btn-default btn-xs')
      .panel-body
        %dl
          %dt
            Last check
          %dd
            - if @last_ia_check and @last_ia_check.completed_at
              = local_time_ago(@last_ia_check.completed_at)
            - else
              Unknown

  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = form_tag(book_tracker_check_google_path, method: 'post') do
            Corporate Partners
            = submit_tag('Check', class: 'btn btn-default btn-xs')
      .panel-body
        %dl
          %dt
            Last check
          %dd
            - if @last_gb_check and @last_gb_check.completed_at
              = local_time_ago(@last_gb_check.completed_at)
            - else
              Unknown

%input{type: 'hidden', name: 'auto-update-frequency', value: '4000'}

#tasks_list
  = render partial: 'tasks'
