!!! 5
%html
  %head
    %title Medusa
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  = render 'shared/global_navigation'
  = render 'shared/flash', :flash => flash
  = yield
